<!-- <select class="custom-select">
    <option>Short option</option>
    <option>
        This is a really long option name that should be truncated
    </option>
    <option>
        Another very long option name to test the behavior
    </option>
</select> -->

<section class="monetize-app">
    <img src="assets/images/icons/myapp-shape.svg" class="my-app-shape1"
        alt>
    <om-meteors [meteorColor]="'#fff'" [meteorRotation]="'-130deg'"
        class="monetize-app-content">
        <h2>Monetize Your App</h2>
        <p>Accelerate your next ad or innovation idea with past insights
            and
            continuous consumer research to fuel growth. Accelerate your
            next ad or innovation idea with past insights.</p>
        <a href>Get Started
            <svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="18" viewBox="0 0 24 18" fill="none">
                <path
                    d="M11.7852 1.1543C14.1843 5.9362 16.1935 7.72865 21.2006 9.00049C16.5266 11.0028 14.2569 13.3509 11.7852 16.8467"
                    stroke="white" stroke-width="1.2" />
                <path d="M19.6316 9L0.800781 9" stroke="white"
                    stroke-width="1.2" />
            </svg>
        </a>
    </om-meteors>
    <img src="assets/images/icons/myapp-shape.svg" class="my-app-shape2"
        alt>
</section>