@use 'sass:math';

// px to rem logic
@function px-rem($px, $base: 16) {
    @return math.div($px, $base) * 1rem;
}

p {
    line-height: px-rem(28);
}

.heading-tag {
    font-size: px-rem(50);
    padding: px-rem(3) px-rem(10);
    line-height: normal;
}

%gradientBorder {
    padding: px-rem(20);
    border-radius: px-rem(20);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 24px 38px 0px rgba(22, 29, 36, 0.08);
    backdrop-filter: blur(60px);
    position: relative;
    z-index: 0;

    &::before,
    &::after {
        content: '';
        padding: 2px;
        border-radius: px-rem(20);
        padding: 2px; // this stays px because it's not wrapped in px-rem
        background: linear-gradient(130deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%);

        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &::after {
        background: linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%);
    }
}

.survey-wall-features {
    padding: px-rem(100) 0 px-rem(80);

    .tag {
        position: static;
        margin-left: 5px;
        transform: rotate(-7.5deg) translateY(px-rem(-28));
    }

    .survey-wall-card {
        background-image: url(../../../../public/assets/images/stars.svg);
        background-size: 200%;
        background-repeat: repeat;
        background-position: center;
        padding: px-rem(30) px-rem(40);
        border-radius: px-rem(30);
        display: flex;
        flex-direction: column;
        gap: px-rem(15);
        align-items: center;
        color: #fff;
        transition: 0.3s linear;

        &:hover {
            background-size: 100%;
        }

        &.purple {
            background-color: #845EF9;
        }

        &.blue {
            background-color: #7bbbf0;
        }

        &.pink {
            background-color: #ed78c8;
        }
        &.green{
            background-color: #39e88a
        }
        &.yellow{
            background-color: #e6a93b
        }

        &.red{
            background-color: #f77259
        }

        .survey-wall-card-title {
            @extend %gradientBorder;
            color: #FFF;
            font-size: px-rem(20);
            font-weight: 600;
            margin-bottom: 0;
            padding: px-rem(10);
            background: rgba(255, 255, 255, 0.10);
            box-shadow: 0px 24px 38px 0px rgba(22, 29, 36, 0.08);
            backdrop-filter: blur(60px);
            width: 100%;
            display: flex;
            align-items: center;
            gap: px-rem(10);

            &::before {
                border-radius: px-rem(20);
                background: linear-gradient(130deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 14%);
            }

            &::after {
                border-radius: px-rem(20);
                background: linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 14%);
            }
        }

        .survey-wall-card-text {
            @extend %gradientBorder;
            color: #FFF;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 24px;
            min-height: 110px;
        }

        .survey-wall-card-footer {
            padding-top: 5px;
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            align-items: flex-start;
            position: relative;
            justify-content: center;


            .survey-wall-card-badge {
                @extend %gradientBorder;
                font-size: 14px;
                padding: px-rem(10) px-rem(12);
                font-weight: 600;

                &:nth-child(1) {
                    transform: rotate(-10deg);
                }

                &:nth-child(2) {
                    transform: rotate(-2deg);
                }

                &:nth-child(3) {
                    transform: rotate(4deg);
                }
            }
        }
    }
}

.steps {
    background-image: url(../../../../public/assets/images/rb_13259.png);
    background-color: #845ef9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: px-rem(50);
    overflow-x: hidden;
    position: relative;

    .steps-container {
        @extend %gradientBorder;
        height: 100%;
        border-radius: px-rem(30);
        background: rgba(0, 0, 0, 0.10);
        backdrop-filter: blur(40px);
        padding: px-rem(30);
        display: flex;
        align-items: flex-start;
        width: fit-content;

        &::before,
        &::after {
            border-radius: px-rem(30);
        }

        .step-card-wrapper {
            display: flex;
            height: 100%;
            flex: 0 0 px-rem(810);

            &.step-card-wrapper-3 {
                flex: 0 0 px-rem(500);
            }

            .step-card {
                display: flex;
                align-items: flex-start;
                gap: px-rem(30);

                .step-card-images {
                    display: flex;
                    align-items: end;
                    padding-top: px-rem(60);

                    .step-card-mascot {
                        width: px-rem(92);
                        margin-right: px-rem(-30);
                        z-index: 1;
                        position: relative;
                    }

                    .step-card-main-img {
                        max-width: 100%;
                    }
                }

                .step-card-content {
                    color: #fff;

                    h3 {
                        display: flex;
                        align-items: center;
                        font-size: px-rem(32);
                        font-weight: bold;

                        span {
                            width: px-rem(52);
                            height: px-rem(52);
                            font-size: px-rem(18);
                            background-color: #AC98FF;
                            display: flex;
                            align-items: center;
                            padding-left: px-rem(12);
                            border-radius: 50%;
                            color: #461389;
                            margin-right: px-rem(-20);
                        }
                    }

                    p {
                        font-size: px-rem(14);
                        margin-bottom: 0;
                        max-width: px-rem(300);
                        line-height: 20px;
                    }
                }

                &.step-card-2 {
                    .step-card-images {
                        flex-direction: column;
                        align-items: flex-start;
                        position: relative;

                        .step-card-mascot {
                            margin-bottom: px-rem(-85);
                            position: absolute;
                            bottom: 100%;
                            left: 0;
                        }
                    }

                    .step-card-content {
                        margin-top: px-rem(-30);
                    }
                }

                &.step-card-3 {
                    flex-direction: column;
                    gap: 5px;

                    .step-card-images {
                        padding-top: 0;
                    }

                    .step-card-content {
                        display: flex;
                        gap: px-rem(15);
                        align-items: flex-end;

                        .step-card-mascot {
                            width: px-rem(105);
                            margin-left: px-rem(-10);
                        }
                    }
                }
            }
        }

        .step-wave {
            margin-left: px-rem(-460);
        }

        .step-wave2 {
            margin-left: px-rem(-530);
        }

        .step-wave-img {
            width: px-rem(400);
        }

        .step-wave-img2 {
            width: px-rem(400);
        }

    }
}

.features {
    padding: px-rem(80) 0;

    .feature-card {
        @extend %gradientBorder;
        display: flex;
        height: px-rem(160);
        align-items: center;
        padding: px-rem(40) 0 px-rem(40) px-rem(40);
        box-shadow: none;
        background: #fff;
        transition: 0.3s linear;
        justify-content: space-between;

        &::before {
            background: linear-gradient(90deg, #FF91FA 0%, #ff91fa0a 30%, rgba(255, 207, 207, 0) 50%);
        }

        &::after {
            display: none;
        }

        .feature-card-header {
            display: flex;
            align-items: center;
            gap: px-rem(10);

            h3 {
                margin-bottom: 0;
                font-size: px-rem(28);
                font-weight: bold;
            }

            span {
                font-size: px-rem(16);
                transform: translateY(px-rem(2));
                margin-left: px-rem(10);
            }

            img {
                width: px-rem(28);
            }
        }

        .feature-badge {
            display: inline-flex;
            padding: px-rem(9) px-rem(12);
            border-radius: px-rem(50);
            background-color: #C6F15C;
            box-shadow: 3.5px 3.5px 0px 0px #220D4E;
            z-index: 1;
            font-size: px-rem(12);
            font-weight: 600;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            opacity: 0;
            transition: 0.45s cubic-bezier(0, 0.34, 0.27, 2.5);

            &.f-badge1 {
                left: 235px;
                background-color: #FFFB91;
            }

            &.f-badge2 {
                left: 95px;
                transform: translateY(-80%);
            }

            &.f-badge3 {
                right: 170px;
                left: auto;
                transform: translateY(-80%);
            }
        }

        .feature-card-img {
            width: 150px;
            scale: 0.1;
            transform: rotate(-180deg);
            opacity: 0;
            transition: 0.5s cubic-bezier(0, 0.34, 0.27, 1.7);
            margin-right: -25px;
        }

        .feature-svg {
            position: absolute;
            top: -4px;
            left: 70%;
            transform: translateX(-50%);
            width: 9px;
            height: auto;
            transition: 0.4s cubic-bezier(0, 0.34, 0.27, 1.7);
        }

        .feature-svg2 {
            opacity: 0;
        }

        &.fc-2 {
            &::before {
                background: linear-gradient(90deg, #FFFB91 0%, #ff91fa0a 30%, rgba(255, 207, 207, 0) 50%);
            }
        }

        &.fc-3 {
            &::before {
                background: linear-gradient(90deg, #91CDFF 0%, #ff91fa0a 30%, rgba(255, 207, 207, 0) 50%);
            }
        }

        &.fc-4 {
            &::before {
                background: linear-gradient(90deg, #C6F15C 0%, #ff91fa0a 30%, rgba(255, 207, 207, 0) 50%);
            }
        }

        &:hover {
            background: #FF91FA;

            .feature-badge {
                opacity: 1;

                &.f-badge1 {
                    transform: translateY(60%) rotate(-12deg);
                }

                &.f-badge2 {
                    left: 95px;
                    top: 35%;
                    transform: translateY(-80%) rotate(12deg);
                }

                &.f-badge3 {
                    right: 170px;
                    top: 26%;
                    transform: translateY(-50%) rotate(12deg);
                }
            }

            .feature-card-img {
                scale: 1;
                transform: rotate(20deg);
                opacity: 1;
            }

            .feature-svg {
                width: 20px;
            }

            .feature-svg2 {
                &.flying {
                    opacity: 1;
                    left: px-rem(-50);
                }
            }

            &.fc-2 {
                .feature-badge {
                    &.f-badge1 {
                        background-color: #FDB693;
                    }

                    &.f-badge2 {
                        background-color: #91CDFF;
                    }
                }

                .feature-svg {
                    position: absolute;
                    top: -4px;
                    left: 7px;
                    transform: translate(0) rotate(-23deg);
                    width: 9px;
                    height: auto;
                    transition: 0.4s cubic-bezier(0, 0.34, 0.27, 1.7);
                    opacity: 0;
                }

                &:hover {
                    background: #FFFB91;

                    .feature-svg {
                        width: 20px;
                        opacity: 1;
                    }
                }
            }

            &.fc-3 {
                .feature-badge {
                    &.f-badge1 {
                        background-color: #C6F15C;
                    }

                    &.f-badge2 {
                        background-color: #ff97fa;
                    }
                }

                .feature-svg2 {
                    position: absolute;
                    bottom: -4px;
                    left: 7px;
                    transform: translate(0) rotate(7deg);
                    width: 20px;
                    height: auto;
                    transition: 0.4s cubic-bezier(0, 0.34, 0.27, 1.7);
                }

                &:hover {
                    background: #91CDFF;

                    .feature-svg2 {
                        width: 60px;
                    }
                }
            }

            &.fc-4 {
                .feature-badge {
                    &.f-badge1 {
                        background-color: #FFFB91;
                    }

                    &.f-badge2 {
                        background-color: #8577F0;
                    }

                    &.f-badge3 {
                        background-color: #fdb693;
                    }
                }

                .feature-svg {
                    position: absolute;
                    bottom: -7px;
                    top: auto;
                    left: 70%;
                    transform: translateX(-50%) scaleY(-1);
                    width: 9px;
                    height: auto;
                    transition: 0.4s cubic-bezier(0, 0.34, 0.27, 1.7);
                }

                .feature-svg2 {
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    transform: rotate(80deg);
                    width: 20px;
                    height: auto;
                    transition: 0.4s cubic-bezier(0, 0.34, 0.27, 1.7);
                }

                &:hover {
                    background: #C6F15C;

                    .feature-svg {
                        width: 20px;
                    }

                    .feature-svg2 {
                        width: 60px;
                    }
                }
            }
        }
    }
}

.sw-features2 {
    padding: 60px 0;

    .swf-card {
        padding: 20px 40px;
        padding-right: 0;
        border-radius: 20px;
        background: linear-gradient(270deg, rgba(253, 223, 194, 0.79) 0%, rgba(251, 185, 119, 0.79) 100%);
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        h3 {
            margin-bottom: 1rem;
            color: #101010;
        }

        p {

            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            margin-bottom: 2.5rem;
        }

        a {
            border-radius: 12px;
            background: #00000017;
            display: inline-flex;
            padding: 15px;
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: #fff;
            text-decoration: none;
            font-size: 15px;

            svg {
                width: 18px;
                transition: 0.3s linear;
            }

            &:hover {
                svg {
                    transform: translateX(5px);
                }
            }
        }

        img {
            width: 230px;
            margin-right: -90px;
            margin-left: 50px;
            transition: 0.3s linear;
        }

        &:hover {
            img {
                scale: 1.5;
            }
        }
    }

    .swf-card.swf-card2 {
        background: linear-gradient(90deg, #C2BBFF 0%, #E6E3FF 100%);
    }

    .swf-card.swf-card3 {
        background: linear-gradient(90deg, rgba(118, 172, 255, 0.84) 0%, rgba(140, 181, 243, 0.45) 100%);
    }

    .swf-card.swf-card4 {
        background: linear-gradient(90deg, #F7F97F 0%, #FEFFDE 100%);
    }
}

.n002_2024b {

    .container-lg {
        background-image: url(../../../../public/assets/images/n002_2024b.jpg);
        padding: 40px;
        border-radius: 30px;
        position: relative;
        z-index: 0;
        overflow: hidden;

        &::before {
            content: '';
            background-color: rgba(0, 0, 0, 0.45);
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }

    .panda-gif {
        transform: scaleX(-1);
        width: 85%;
    }
}

.what-we-do {
    padding: 130px 0 70px;

    .heading {
        position: relative;
        display: inline-block;
        margin: auto;
        margin-bottom: 5rem;

        .tag {
            position: absolute;
            top: -32px;
            left: -130px;
            transform: rotate(-14.45deg);
        }
    }

    .wwd-card {
        h3 {
            color: #101010;
            font-size: 25px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            margin-right: 40px;
        }
    }

    .wwd-img {
        position: absolute;
        right: 0;
        top: -80px;
        width: 200px;
    }
}

@media(max-width: 768px) {
    .heading-tag{
        font-size: px-rem(36);
    }
    .survey-wall-features {
        padding: px-rem(50) 0;

        .tag {
            transform: rotate(-7.5deg) translateY(px-rem(-12));
        }

        .survey-wall-card {
            padding: px-rem(20) px-rem(20);
            border-radius: px-rem(20);
            gap: px-rem(10);

            .survey-wall-card-title {
                font-size: px-rem(18);
            }

            .survey-wall-card-text {
                min-height: auto !important;
            }
        }
    }

    .steps {
        background-image: url(../../../../public/assets/images/rb_13259.png);
        background-color: #845ef9;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        padding: px-rem(50);
        overflow-x: hidden;
        position: relative;

        .steps-container {
            @extend %gradientBorder;
            height: 100%;
            border-radius: px-rem(30);
            background: rgba(0, 0, 0, 0.10);
            backdrop-filter: blur(40px);
            padding: px-rem(30);
            display: flex;
            align-items: flex-start;
            width: fit-content;

            &::before,
            &::after {
                border-radius: px-rem(30);
            }

            .step-card-wrapper {
                display: flex;
                height: 100%;
                flex: 0 0 px-rem(810);

                &.step-card-wrapper-3 {
                    flex: 0 0 px-rem(500);
                }

                .step-card {
                    display: flex;
                    align-items: flex-start;
                    gap: px-rem(30);

                    .step-card-images {
                        display: flex;
                        align-items: end;
                        padding-top: px-rem(60);

                        .step-card-mascot {
                            width: px-rem(92);
                            margin-right: px-rem(-30);
                            z-index: 1;
                            position: relative;
                        }

                        .step-card-main-img {
                            max-width: 100%;
                        }
                    }

                    .step-card-content {
                        color: #fff;

                        h3 {
                            display: flex;
                            align-items: center;
                            font-size: px-rem(32);
                            font-weight: bold;

                            span {
                                width: px-rem(52);
                                height: px-rem(52);
                                font-size: px-rem(18);
                                background-color: #AC98FF;
                                display: flex;
                                align-items: center;
                                padding-left: px-rem(12);
                                border-radius: 50%;
                                color: #461389;
                                margin-right: px-rem(-20);
                            }
                        }

                        p {
                            font-size: px-rem(14);
                            margin-bottom: 0;
                            max-width: px-rem(300);
                            line-height: 20px;
                        }
                    }

                    &.step-card-2 {
                        .step-card-images {
                            flex-direction: column;
                            align-items: flex-start;
                            position: relative;

                            .step-card-mascot {
                                margin-bottom: px-rem(-85);
                                position: absolute;
                                bottom: 100%;
                                left: 0;
                            }
                        }

                        .step-card-content {
                            margin-top: px-rem(-30);
                        }
                    }

                    &.step-card-3 {
                        flex-direction: column;
                        gap: 5px;

                        .step-card-images {
                            padding-top: 0;
                        }

                        .step-card-content {
                            display: flex;
                            gap: px-rem(15);
                            align-items: flex-end;

                            .step-card-mascot {
                                width: px-rem(105);
                                margin-left: px-rem(-10);
                            }
                        }
                    }
                }
            }

            .step-wave {
                margin-left: px-rem(-460);
            }

            .step-wave2 {
                margin-left: px-rem(-530);
            }

            .step-wave-img {
                width: px-rem(400);
            }

            .step-wave-img2 {
                width: px-rem(400);
            }

        }
    }

    .features {
        padding: px-rem(50) 0;

        .feature-card {
            height: auto;
            padding: px-rem(20);
            border-radius: 15px;

            .featured-card-wrapper {
                width: 100%;
            }

            .feature-card-header {
                justify-content: space-between;
                width: 100%;

                h3 {
                    font-size: px-rem(22);
                    font-weight: bold;
                }
            }

            .feature-card-img {
                display: none;
            }

            .feature-svg2 {
                display: none;
            }
        }
    }

    .sw-features2 {
        padding: 50px 0;

        .swf-card {
            padding: 20px;
            padding-right: 0;
            border-radius: 15px;
            background: linear-gradient(270deg, rgba(253, 223, 194, 0.79) 0%, rgba(251, 185, 119, 0.79) 100%);
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            z-index: 0;
            position: relative;

            h3 {
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 1rem;
            }

            img {
                right: -50px;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
                position: absolute;
                opacity: 0.5;
            }

            &:hover {
                img {
                    scale: 1;
                }
            }
        }
    }

    .n002_2024b {

        .container-lg {
            padding: 20px;
            border-radius: 15px;
        }

        .panda-gif {
            width: 75%;
        }
    }

    .what-we-do {
        padding: 130px 0 70px;

        .heading {
            .tag {
                top: -38px;
                left: -60px;
            }
        }

        .wwd-card {
            h3 {
                font-size: 22px;
                margin-bottom: 5px;
            }

            p {
                margin-right: 0;
                margin-bottom: 32px;
            }
        }
    }
}