<main>
    <section class="page-head">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="heading">Common Template
                        <span class="page-head-tag tag">Pocketsfull.ai</span>
                    </h1>
                    <p class="page-head-text">Welcome to PocketsFull.ai By
                        accessing or using our platform, you agree to be bound
                        by these Terms of Service. If you do not accept these
                        terms, please do not use our services.</p>
                    <img src="assets/images/page-head-blur.png"
                        class="page-head-blur"
                        loading="lazy" alt>
                </div>
                <div
                    class="col-md-2 d-flex justify-content-end align-items-end">
                    <span class="tag last-update">Last Updated: [Date]</span>
                </div>
            </div>
        </div>
    </section>
    <section class="survey-wall-features">
        <div class="container-lg">
            <h1 class="heading mb-4">Pocketsfull.ai Features<span
                    class="tag">Leading eCPMS</span></h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="survey-wall-card purple">
                        <img src="assets/images/icons/survey-wall-icon.svg"
                            class="img-fluid" loading="lazy" alt>
                        <h3 class="survey-wall-card-title">
                            <img src="assets/images/icons/survey-wall-icon2.svg"
                                class="img-fluid" loading="lazy" alt>
                            Build in Survey Wall
                        </h3>
                        <p class="survey-wall-card-text">We have leading market
                            research surveys to keep your fill rate soaring!
                            Always!</p>
                        <div class="survey-wall-card-footer">
                            <span class="survey-wall-card-badge">5x the
                                ARPDAU</span>
                            <span class="survey-wall-card-badge">Eye-catchy
                                surveys</span>
                            <span class="survey-wall-card-badge">Global
                                Reach</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="survey-wall-card blue">
                        <img src="assets/images/icons/survey-wall-icon.svg"
                            class="img-fluid" loading="lazy" alt>
                        <h3 class="survey-wall-card-title">
                            <img src="assets/images/icons/survey-wall-icon2.svg"
                                class="img-fluid" loading="lazy" alt>
                            Build in Offerwall
                        </h3>
                        <p class="survey-wall-card-text">Top-tier converting
                            offers handpicked for your app
                        </p>
                        <div class="survey-wall-card-footer">
                            <span class="survey-wall-card-badge">Maximize
                                Earnings</span>
                            <span class="survey-wall-card-badge">Boost
                                Retention</span>
                            <span class="survey-wall-card-badge">Engage
                                Userbase</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="survey-wall-card pink">
                        <img src="assets/images/icons/survey-wall-icon.svg"
                            class="img-fluid" loading="lazy" alt>
                        <h3 class="survey-wall-card-title">
                            <img src="assets/images/icons/survey-wall-icon2.svg"
                                class="img-fluid" loading="lazy" alt>
                            Built in Bandwidth SDK
                        </h3>
                        <p class="survey-wall-card-text">Increase your revenue
                            while maintaining user privacy and performance</p>
                        <div class="survey-wall-card-footer">
                            <span class="survey-wall-card-badge">One Click
                                Revenue</span>
                            <span class="survey-wall-card-badge">Enhanced User
                                Experience</span>
                            <span class="survey-wall-card-badge">GDPR
                                Compliant</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="steps">
        <div class="steps-container">
            <div class="step-card-wrapper">
                <div class="step-card">
                    <div class="step-card-images">
                        <img src="assets/images/icons/icon-mascot4_copy.png"
                            class="step-card-mascot" loading="lazy" alt>
                        <img src="assets/images/step-img1.svg"
                            class="step-card-main-img" loading="lazy" alt>
                    </div>
                    <div class="step-card-content">
                        <h3>
                            <span>1</span>
                            Place in-app placement
                        </h3>
                        <p>Strategically place the placement where the users are
                            more likely to engage specially for non-paying users
                            as an added feature</p>
                    </div>
                </div>
            </div>
            <div class="h-100 d-flex align-items-end pe-3">
                <img src="assets/images/wave-line.svg" class="step-wave-img"
                    loading="lazy" alt>
            </div>
            <div class="step-card-wrapper align-items-end">
                <div class="step-card step-card-2">
                    <div class="step-card-images">
                        <img src="assets/images/icons/icon-mascot14.png"
                            class="step-card-mascot" loading="lazy" alt>
                        <img src="assets/images/step-img2.svg"
                            class="step-card-main-img" loading="lazy" alt>
                    </div>
                    <div class="step-card-content">
                        <h3>
                            <span>2</span>
                            Users Dive in
                        </h3>
                        <p>Users engage with surveys, offers or share their
                            bandwidth for a reward or in app premium features
                            unlock</p>
                    </div>
                </div>
            </div>
            <div class="h-100 d-flex align-items-end pe-3">
                <img src="assets/images/wave-line2.svg" class="step-wave-img2"
                    loading="lazy" alt>
            </div>
            <div class="step-card-wrapper step-card-wrapper-3">
                <div class="step-card step-card-3">
                    <div class="step-card-images">
                        <img src="assets/images/step-img3.svg"
                            class="step-card-main-img" loading="lazy" alt>
                    </div>
                    <div class="step-card-content">
                        <div>
                            <h3>
                                <span>3</span>
                                Win-win for everybody
                            </h3>
                            <p style="max-width: none;">Upon completing the
                                offer, survey, or accepting the bandwidth terms
                                and conditions, the surveywall promptly rewards
                                the user with an incentive & adds the earnings
                                to your account. This can either be added to the
                                in-app currency, as selected by you, or the
                                unlocking of a premium feature.</p>
                        </div>
                        <img src="assets/images/icons/icon-mascot9.png"
                            class="step-card-mascot" loading="lazy" alt>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="container-lg">
            <h1 class="heading text-center mb-4 pb-2">Features</h1>
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="feature-card fc-1">
                        <div class="feature-card-header">
                            <img src="assets/images/icons/survey-wall-icon2.svg"
                                loading="lazy" alt>
                            <h3 class="feature-card-title">Built for Mobile
                                Apps</h3>
                            <span>.01</span>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="feature-svg" width="26"
                            height="66" viewBox="0 0 26 66" fill="none">
                            <path
                                d="M6 18.2222L0 4.88889L14 -4L26 18.2222L14 27.1111L26 33.7778L14 41.5556L26 52.6667L6 66L14 52.6667L0 41.5556L6 33.7778L0 27.1111L6 18.2222Z"
                                fill="white" />
                        </svg>
                        <img src="assets/images/icons/icon-mascot6.png"
                            class="feature-card-img" loading="lazy" alt>
                        <span class="feature-badge f-badge1">iOS support</span>
                        <span class="feature-badge f-badge2">Android
                            Support</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-card fc-2">
                        <div class="feature-card-header">
                            <img src="assets/images/icons/feature-icon2.svg"
                                loading="lazy" alt>
                            <h3 class="feature-card-title">Two Surveywall
                                Designs to Choose</h3>
                            <span>.02</span>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="feature-svg" width="26"
                            height="66" viewBox="0 0 26 66" fill="none">
                            <path
                                d="M6 18.2222L0 4.88889L14 -4L26 18.2222L14 27.1111L26 33.7778L14 41.5556L26 52.6667L6 66L14 52.6667L0 41.5556L6 33.7778L0 27.1111L6 18.2222Z"
                                fill="white" />
                        </svg>
                        <img src="assets/images/icons/icon-mascot11.png"
                            class="feature-card-img" loading="lazy" alt>
                        <span class="feature-badge f-badge1">One for
                            professional apps</span>
                        <span class="feature-badge f-badge2">One for
                            Games</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-card fc-3">
                        <div class="feature-card-header">
                            <img src="assets/images/icons/feature-icon3.svg"
                                loading="lazy" alt>
                            <h3 class="feature-card-title">UI friendly</h3>
                            <span>.03</span>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="feature-svg" width="26"
                            height="66" viewBox="0 0 26 66" fill="none">
                            <path
                                d="M6 18.2222L0 4.88889L14 -4L26 18.2222L14 27.1111L26 33.7778L14 41.5556L26 52.6667L6 66L14 52.6667L0 41.5556L6 33.7778L0 27.1111L6 18.2222Z"
                                fill="white" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="feature-svg2" width="56" height="46"
                            viewBox="0 0 56 46" fill="none">
                            <path
                                d="M20.121 33.3249L12.6362 44.9634L0.756367 45.3934L12.4655 25.1816L23.5797 23.9372L23.8772 14.4535L34.1763 13.9754L37.7342 1.42651L55.1712 0.374344L42.3275 6.31251L39.5352 19.6758L31.5327 22.5968L28.9386 29.6376L20.121 33.3249Z"
                                fill="white" />
                        </svg>
                        <img src="assets/images/icons/icon-mascot12.png"
                            class="feature-card-img" loading="lazy" alt>
                        <span class="feature-badge f-badge1">Engaging</span>
                        <span class="feature-badge f-badge2">UX/UX
                            considerate</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-card fc-4">
                        <div class="feature-card-header">
                            <img src="assets/images/icons/feature-icon4.svg"
                                loading="lazy" alt>
                            <h3 class="feature-card-title">Three Monetization’s
                                in 1</h3>
                            <span>.04</span>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="feature-svg" width="26"
                            height="66" viewBox="0 0 26 66" fill="none">
                            <path
                                d="M6 18.2222L0 4.88889L14 -4L26 18.2222L14 27.1111L26 33.7778L14 41.5556L26 52.6667L6 66L14 52.6667L0 41.5556L6 33.7778L0 27.1111L6 18.2222Z"
                                fill="white" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="feature-svg2" width="56" height="46"
                            viewBox="0 0 56 46" fill="none">
                            <path
                                d="M20.121 33.3249L12.6362 44.9634L0.756367 45.3934L12.4655 25.1816L23.5797 23.9372L23.8772 14.4535L34.1763 13.9754L37.7342 1.42651L55.1712 0.374344L42.3275 6.31251L39.5352 19.6758L31.5327 22.5968L28.9386 29.6376L20.121 33.3249Z"
                                fill="white" />
                        </svg>
                        <img src="assets/images/icons/icon-mascot13.png"
                            class="feature-card-img" loading="lazy" alt>
                        <span class="feature-badge f-badge1">Surveys</span>
                        <span class="feature-badge f-badge2">Offers</span>
                        <span class="feature-badge f-badge2">Bandwidth</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-4">
        <div class="container-lg">
            <h1 class="heading mb-4 pb-2">
                We make earning rewards <br />ridiculously <span
                    class="tag heading-tag">fun for users!</span>
            </h1>
            <p>With an advanced and versatile user interface, suryeywalls are
                designed to seamlessly
                integrate into any niche, from gaming and news to dating and
                beyond. This adaptability
                ensures that users enjoy a smooth and engaging experience,
                regardless of the platform
                or context]
                One of the standout features of our surye_yyyall is their
                ability to keep users entertained
                with a variety of tasks. From trying out new apps and answering
                surveys to playing
                games or signing up for exclusive offers, the range of
                activities ensures there's always
                something interesting to do. This diversity not only keeps users
                engaged but also caters
                to their individual preferences, making the journey feel
                personal and rewarding.</p>
        </div>
    </section>
    <section class="sw-features2">
        <div class="container-lg">
            <h1 class="heading text-center mb-4 pb-2">Uplift monetization to new
                peak</h1>
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="swf-card">
                        <div>
                            <h3>Maximize earnings</h3>
                            <p>With eCPM’s touching 1000$ for tier1 countrie</p>
                            <a href="#">Get Started
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="19"
                                    height="15" viewBox="0 0 19 15" fill="none">
                                    <path
                                        d="M9.15234 0.961426C11.1516 4.94634 12.826 6.44005 16.9985 7.49992C13.1036 9.1685 11.2121 11.1252 9.15234 14.0384"
                                        stroke="white" />
                                    <path d="M15.6924 7.5L0 7.5"
                                        stroke="white" />
                                </svg>
                            </a>
                        </div>
                        <img src="assets/images/swf-img1.svg" loading="lazy"
                            alt>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="swf-card swf-card2">
                        <div>
                            <h3>Boost Retention</h3>
                            <p>+15RR increase directly after integrating us</p>
                            <a href="#">Get Started
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="19"
                                    height="15" viewBox="0 0 19 15" fill="none">
                                    <path
                                        d="M9.15234 0.961426C11.1516 4.94634 12.826 6.44005 16.9985 7.49992C13.1036 9.1685 11.2121 11.1252 9.15234 14.0384"
                                        stroke="white" />
                                    <path d="M15.6924 7.5L0 7.5"
                                        stroke="white" />
                                </svg>
                            </a>
                        </div>
                        <img src="assets/images/swf-img2.svg" loading="lazy"
                            alt>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="swf-card swf-card3">
                        <div>
                            <h3>Engage your userbase</h3>
                            <p>+30% Ad Revenue increase after integrating
                                us!</p>
                            <a href="#">Get Started
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="19"
                                    height="15" viewBox="0 0 19 15" fill="none">
                                    <path
                                        d="M9.15234 0.961426C11.1516 4.94634 12.826 6.44005 16.9985 7.49992C13.1036 9.1685 11.2121 11.1252 9.15234 14.0384"
                                        stroke="white" />
                                    <path d="M15.6924 7.5L0 7.5"
                                        stroke="white" />
                                </svg>
                            </a>
                        </div>
                        <img src="assets/images/swf-img3.svg" loading="lazy"
                            alt>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="swf-card swf-card4">
                        <div>
                            <h3>Display Time</h3>
                            <p>We’re a distributed team with a flagship HQ in
                                Paris.
                                Work from here, or anywhere. We’re a distributed
                                team with a flagship HQ in Paris. Work from
                                here, or
                                anywhere.</p>
                            <a href="#">Get Started
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="19"
                                    height="15" viewBox="0 0 19 15" fill="none">
                                    <path
                                        d="M9.15234 0.961426C11.1516 4.94634 12.826 6.44005 16.9985 7.49992C13.1036 9.1685 11.2121 11.1252 9.15234 14.0384"
                                        stroke="white" />
                                    <path d="M15.6924 7.5L0 7.5"
                                        stroke="white" />
                                </svg>
                            </a>
                        </div>
                        <img src="assets/images/swf-img4.svg" loading="lazy"
                            alt>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-4">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="heading">Integrate the <br />Survey <span
                            class="tag heading-tag">Wall</span></h1>
                </div>
                <div class="col-md-8">
                    <p>Restaurant owners have faced a tricky ride in the last
                        few years and one thing remains clear – eating out is as
                        popular as ever. But new diets and category entry points
                        change quickly. Only the fittest survive. Restaurants
                        can quickly go from fully booked to floundering flop.
                        Restaurant market research will help you satisfy
                        consumer appetites.</p>
                    <p>
                        Restaurant owners have faced a tricky ride in the last
                        few years and one thing remains clear – eating out is as
                        popular as ever. But new diets and category entry points
                        change quickly.
                        Restaurant owners have faced a tricky ride in the last
                        few years and one thing remains clear – eating out is as
                        popular as ever.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="n002_2024b pt-4">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="heading mb-4 text-white">We make rewarded
                        <br />surveys
                        <span
                            class="tag heading-tag">enjoyable</span></h1>
                    <p class="text-white mb-0">Restaurant owners have faced a
                        tricky ride
                        in the last few
                        years and one thing remains clear – eating out is as
                        popular
                        as ever. But new diets and category entry points change
                        quickly. Only the fittest survive. Restaurants can
                        quickly
                        go from fully booked to floundering flop. Restaurant
                        market
                        research will help you satisfy consumer appetites.</p>
                </div>
                <div class="col-md-4 text-end">
                    <img src="assets/images/icons/panda-gif.gif"
                        class="panda-gif" loading="lazy" alt>
                </div>
            </div>
        </div>
    </section>
    <section class="what-we-do">
        <div class="container-lg position-relative">
            <div class="text-center">
                <h1 class="heading text-center">What we do
                    <span class="tag">Actionable Data</span>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wwd-card">
                        <h3>Targeted Survey Integration</h3>
                        <p>We seamlessly embed high-quality, targeted surveys
                            into web and mobile applications, enabling
                            publishers to monetize without disrupting user
                            experience.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wwd-card">
                        <h3>Actionable Data Insights</h3>
                        <p>Our platform delivers real-time, actionable insights
                            by connecting engaged users with relevant
                            surveys—fueling smarter decisions for brands and
                            researchers.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wwd-card">
                        <h3>Global Reach, Local Impact</h3>
                        <p>Backed by Catalyse Research’s international
                            infrastructure, we ensure that every survey reaches
                            the right audience—enhancing value for users and
                            clients alike.</p>
                    </div>
                </div>
            </div>
            <img src="assets/images/sp-shape.png"
                class="wwd-img" loading="lazy" alt>
        </div>
    </section>
    <div class="py-5"></div>
</main>