@use 'sass:math';
// px to rem logic
@function px-rem($px, $base: 16) {
    @return math.div($px, $base) * 1rem;
}

p {
    line-height: px-rem(28);
}

.heading-tag {
    font-size: px-rem(50);
    padding: px-rem(3) px-rem(10);
    line-height: normal;
}

%gradientBorder {
    padding: px-rem(20);
    border-radius: px-rem(20);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 24px 38px 0px rgba(22, 29, 36, 0.08);
    backdrop-filter: blur(60px);
    position: relative;
    z-index: 0;

    &::before,
    &::after {
        content: '';
        border-radius: px-rem(20);
        padding: 2px; // this stays px because it's not wrapped in px-rem
        background: linear-gradient(130deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%);

        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &::after {
        background: linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%);
    }
}

.survey-wall-features {
    padding: px-rem(100) 0 px-rem(80);

    .tag {
        position: static;
        transform: rotate(-7.5deg) translateY(px-rem(-28));
    }

    .survey-wall-card {
        background-image: url(../../../../public/assets/images/stars.svg);
        background-size: 200%;
        background-repeat: repeat;
        background-position: center;
        padding: px-rem(30) px-rem(40);
        border-radius: px-rem(30);
        display: flex;
        flex-direction: column;
        gap: px-rem(15);
        align-items: center;
        color: #fff;
        transition: 0.3s linear;

        &:hover {
            background-size: 100%;
        }

        &.purple {
            background-color: #845EF9;
        }

        &.blue {
            background-color: #7bbbf0;
        }

        &.pink {
            background-color: #ed78c8;
        }

        .survey-wall-card-title {
            @extend %gradientBorder;
            color: #FFF;
            font-size: px-rem(20);
            font-weight: 600;
            margin-bottom: 0;
            padding: px-rem(10);
            border-radius: 100px;
            background: rgba(255, 255, 255, 0.10);
            box-shadow: 0px 24px 38px 0px rgba(22, 29, 36, 0.08);
            backdrop-filter: blur(60px);
            width: 100%;
            display: flex;
            align-items: center;
            gap: px-rem(10);

            &::before {
                border-radius: 100px;
                background: linear-gradient(130deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 14%);
            }

            &::after {
                border-radius: 100px;
                background: linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 14%);
            }
        }

        .survey-wall-card-text {
            @extend %gradientBorder;
            color: #FFF;

            font-size: 15px;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 24px;
        }

        .survey-wall-card-footer {
            padding-top: 5px;
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            align-items: flex-start;
            position: relative;
            justify-content: center;

            .survey-wall-card-badge {
                @extend %gradientBorder;
                font-size: 14px;
                padding: px-rem(10) px-rem(12);
                font-weight: 600;

                &:nth-child(1) {
                    transform: rotate(-10deg);
                }

                &:nth-child(2) {
                    transform: rotate(-2deg);
                }

                &:nth-child(3) {
                    transform: rotate(4deg);
                }
            }
        }
    }
}

.steps {
    background-image: url(../../../../public/assets/images/rb_13259.png);
    background-color: #845ef9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: px-rem(50);
    overflow-x: hidden;
    position: relative;

    .steps-container {
        @extend %gradientBorder;
        height: 100%;
        border-radius: px-rem(30);
        background: rgba(0, 0, 0, 0.10);
        backdrop-filter: blur(40px);
        padding: px-rem(30);
        display: flex;
        align-items: flex-start;
        width: fit-content;

        &::before,
        &::after {
            border-radius: px-rem(30);
        }

        .step-card-wrapper {
            display: flex;
            height: 100%;
            flex: 0 0 px-rem(630);

            &.step-card-wrapper-3 {
                flex: 0 0 px-rem(500);
            }

            .step-card {
                display: flex;
                align-items: flex-start;
                gap: px-rem(30);

                .step-card-images {
                    display: flex;
                    align-items: end;
                    padding-top: px-rem(60);

                    .step-card-mascot {
                        width: px-rem(92);
                        margin-right: px-rem(-30);
                        z-index: 1;
                        position: relative;
                    }

                    .step-card-main-img {
                        max-width: 100%;
                    }
                }

                .step-card-content {
                    color: #fff;

                    h3 {
                        display: flex;
                        align-items: center;
                        font-size: px-rem(32);
                        font-weight: bold;

                        span {
                            width: px-rem(52);
                            height: px-rem(52);
                            font-size: px-rem(18);
                            background-color: #AC98FF;
                            display: flex;
                            align-items: center;
                            padding-left: px-rem(12);
                            border-radius: 50%;
                            color: #461389;
                            margin-right: px-rem(-20);
                        }
                    }

                    p {
                        font-size: px-rem(16);
                        margin-bottom: 0;
                        max-width: px-rem(260);
                    }
                }

                &.step-card-2 {
                    .step-card-images {
                        flex-direction: column;
                        align-items: flex-start;
                        position: relative;

                        .step-card-mascot {
                            margin-bottom: px-rem(-85);
                            position: absolute;
                            bottom: 100%;
                            left: 0;
                        }
                    }

                    .step-card-content {
                        margin-top: px-rem(-30);
                    }
                }

                &.step-card-3 {
                    flex-direction: column;
                    gap: 0;

                    .step-card-images {
                        padding-top: 0;
                    }

                    .step-card-content {
                        display: flex;
                        gap: px-rem(15);
                        align-items: flex-end;

                        .step-card-mascot {
                            width: px-rem(110);
                            margin-left: px-rem(-10);
                        }
                    }
                }
            }
        }

        .step-wave-img {
            width: px-rem(400);
            margin-left: px-rem(-270);
        }

        .step-wave-img2 {
            width: px-rem(400);
            margin-left: px-rem(-270);
        }
    }
}

.features {
    padding: px-rem(80) 0;

    .feature-card {
        @extend %gradientBorder;
        display: flex;
        height: px-rem(160);
        align-items: center;
        padding: px-rem(40) 0 px-rem(40) px-rem(40);
        box-shadow: none;
        background: #fff;
        transition: 0.3s linear;
        justify-content: space-between;

        &::before {
            background: linear-gradient(90deg, #FF91FA 0%, #ff91fa0a 30%, rgba(255, 207, 207, 0) 50%);
        }

        &::after {
            display: none;
        }

        .feature-card-header {
            display: flex;
            align-items: center;
            gap: px-rem(10);

            h3 {
                margin-bottom: 0;
                font-size: px-rem(30);
                font-weight: bold;
            }

            span {
                font-size: px-rem(16);
                transform: translateY(px-rem(2));
                margin-left: px-rem(10);
            }

            img {
                width: px-rem(28);
            }
        }

        .feature-badge {
            display: inline-flex;
            padding: px-rem(9) px-rem(12);
            border-radius: 50px;
            background-color: #C6F15C;
            box-shadow: 3.5px 3.5px 0px 0px #220D4E;
            z-index: 1;
            font-size: px-rem(12);
            font-weight: 600;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            opacity: 0;
            transition: 0.45s cubic-bezier(0, 0.34, 0.27, 2.5);

            &.flying {
                opacity: 1;
                left: px-rem(-50);
            }
        }
    }
}