<main>
    <section class="page-head">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-10 col-md-9">
                    <h1 class="heading">Guides
                        <span class="page-head-tag tag">Pocketsfull.ai</span>
                    </h1>
                    <p class="page-head-text">Have a question or need
                        assistance? We're here to help! Reach out to us and
                        we'll get back to you as soon as possible.</p>
                    <img src="assets/images/page-head-blur.png"
                        class="page-head-blur"
                        loading="lazy" alt>
                </div>
                <div
                    class="col-lg-2 col-md-3 d-flex justify-content-end align-items-end">
                    <span class="tag last-update">Last Updated: [Date]</span>
                </div>
            </div>
        </div>
    </section>

    <section class="guides">
        <div class="container-lg">
            <div class="row g-4">
                <div class="col-md-4 col-sm-6">
                    <div class="guide-card">
                        <div class="guide-card-head">
                            <img src="assets/images/guide-img.jpg" loading="lazy" alt>
                            <div class="guide-card-tags">
                                <span class="tag">Marketing</span>
                            </div>
                        </div>
                        <div class="guide-card-body">
                            <h3>Data.ai - State of App Revenue 2024</h3>
                            <p>When you think of high-converting websites, what
                                comes to mind? Clean, minimal designs,
                                aesthetically pleasing color palettes, and a
                                well-thought-out...</p>
                            <a href>
                                <span class="download-guide-text">Download
                                    Guide</span>
                                <span class="download-guide-svg">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="11" height="12"
                                        viewBox="0 0 11 12"
                                        fill="none">
                                        <path opacity="0.4"
                                            d="M8.93729 2.51562L0.917969 10.5349"
                                            stroke="#8577F0"
                                            stroke-width="1.14562"
                                            stroke-linecap="round" />
                                        <path
                                            d="M2.44531 1.51461C2.44531 1.51461 8.59186 0.996467 9.52462 1.92923C10.4575 2.86199 9.93918 9.00854 9.93918 9.00854"
                                            stroke="#8577F0"
                                            stroke-width="1.14562"
                                            stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="guide-card">
                        <div class="guide-card-head">
                            <img src="assets/images/guide-img2.jpg" loading="lazy" alt>
                            <div class="guide-card-tags">
                                <span class="tag">Marketing</span>
                            </div>
                        </div>
                        <div class="guide-card-body">
                            <h3>Data.ai - State of App Revenue 2024</h3>
                            <p>When you think of high-converting websites, what
                                comes to mind? Clean, minimal designs,
                                aesthetically pleasing color palettes, and a
                                well-thought-out...</p>
                            <a href>
                                <span class="download-guide-text">Download
                                    Guide</span>
                                <span class="download-guide-svg">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="11" height="12"
                                        viewBox="0 0 11 12"
                                        fill="none">
                                        <path opacity="0.4"
                                            d="M8.93729 2.51562L0.917969 10.5349"
                                            stroke="#8577F0"
                                            stroke-width="1.14562"
                                            stroke-linecap="round" />
                                        <path
                                            d="M2.44531 1.51461C2.44531 1.51461 8.59186 0.996467 9.52462 1.92923C10.4575 2.86199 9.93918 9.00854 9.93918 9.00854"
                                            stroke="#8577F0"
                                            stroke-width="1.14562"
                                            stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="guide-card">
                        <div class="guide-card-head">
                            <img src="assets/images/guide-img3.jpg" loading="lazy" alt>
                            <div class="guide-card-tags">
                                <span class="tag study">Study</span>
                            </div>
                        </div>
                        <div class="guide-card-body">
                            <h3>Data.ai - State of App Revenue 2024</h3>
                            <p>When you think of high-converting websites, what
                                comes to mind? Clean, minimal designs,
                                aesthetically pleasing color palettes, and a
                                well-thought-out...</p>
                            <a href>
                                <span class="download-guide-text">Download
                                    Guide</span>
                                <span class="download-guide-svg">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="11" height="12"
                                        viewBox="0 0 11 12"
                                        fill="none">
                                        <path opacity="0.4"
                                            d="M8.93729 2.51562L0.917969 10.5349"
                                            stroke="#8577F0"
                                            stroke-width="1.14562"
                                            stroke-linecap="round" />
                                        <path
                                            d="M2.44531 1.51461C2.44531 1.51461 8.59186 0.996467 9.52462 1.92923C10.4575 2.86199 9.93918 9.00854 9.93918 9.00854"
                                            stroke="#8577F0"
                                            stroke-width="1.14562"
                                            stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-monetize-app />

    <div class="py-5"></div>
</main>