<div class="bg404">
    <div class="container-lg">
        <div class="error-content-box">
            <h2 class="error-display uppercase">
                <om-cryptic-text [text]="'Coming Soon'"></om-cryptic-text>
            </h2>
            <p>
                This page is brewing behind the scenes, <br>
                We will update it soon...
            </p>
            <img
                class="giphy"
                src="https://media.tenor.com/S2NmOE9HEPcAAAAM/sussa.gif"
                loading="lazy" alt="coming soon" />
            <a
                class="error-btn"
                aria-label="Return Home Link"
                routerLink="/">
                Shall we return?
            </a>
        </div>
    </div>
</div>
