@function px-rem($px, $base: 16) {
    @return ($px / $base) * 1rem;
}

.bg404 {
    height: 100vh;
    background-color: #F5F5F5;
    padding: px-rem(40);
    display: flex;
    align-items: center;
    justify-content: center;

    .error-content-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;

        .error-display {
            font-weight: 400;
            font-size: px-rem(72);
            letter-spacing: px-rem(-1.5);
            margin-bottom: px-rem(-16);
            color: var(--color-text2);
        }

        p {
            font-size: px-rem(16);
            letter-spacing: px-rem(-0.5);
            margin-bottom: 0;
            line-height: px-rem(26);
        }

        .giphy {
            max-width: px-rem(200);
            border-radius: px-rem(16);
            transform: rotate(-12deg);
        }

        .error-btn {
            font-size: px-rem(16);
            letter-spacing: px-rem(-0.5);
            display: inline-block;
            color: #6a2be9;
        }
    }
}

@media(max-width: 768px) {
    .bg404 {
        padding: px-rem(20);

        .error-content-box {
            gap: px-rem(30);

            .error-display {
                font-size: px-rem(50);
            }
        }

        .giphy {
            margin: px-rem(20) 0 0 px-rem(20);
        }
    }
}