<section class="supported-platforms">
    <div class="container-lg">
        <div class="supported-platform-head">
            <h1 class="heading text-sm-start text-center">Supported
                Platform</h1>
            <p class="common-text text-sm-start text-center">Versatile
                monetization platform
                offering
                diverse network of
                <br class="d-sm-block d-none" />supported applications &
                languages</p>
            <img src="assets/images/sp-shape.png" width="300" loading="lazy"
                alt>
        </div>
    </div>
    <div #spContainer class="container-lg sp-container position-relative">
        <div class="splatform-card sp-android">
            <div class="splatform-card-header">
                <button class="splatform-card-header-icon">
                    <i class="bi bi-arrow-right"></i>
                    <i class="bi bi-x"></i>
                </button>
                <h3>Android</h3>
                <span></span>
            </div>
            <div class="splatform-card-body">
                <span class="sp-badge d-flex align-items-center gap-1">
                    <img src="assets/images/icons/icon-chrome.svg" [width]="20"
                        alt>
                    Chrome Custom
                    Tabs</span>
                <img src="assets/images/android-device.png"
                    class="sp-device-img" loading="lazy" alt>
                <img
                    src="assets/images/icons/icon-heart.svg"
                    class="img-fluid sp-icon" loading="lazy" alt>
            </div>
        </div>
        <div class="splatform-card sp-ios">
            <div class="splatform-card-header">
                <button class="splatform-card-header-icon">
                    <i class="bi bi-arrow-right"></i>
                    <i class="bi bi-x"></i>
                </button>
                <h3>iOS</h3>
                <span></span>
            </div>
            <div class="splatform-card-body">
                <span class="sp-badge d-flex align-items-center gap-1">
                    <img src="assets/images/icons/icon-safari.svg" [width]="20"
                        alt>
                    SF SafarI View
                    Controller</span>
                <img src="assets/images/ios-device2.png"
                    class="sp-device-img" loading="lazy" alt>
                <img
                    src="assets/images/icons/icon-heart.svg"
                    class="img-fluid sp-icon" loading="lazy" alt>
            </div>
        </div>
        <div class="splatform-card sp-iframe">
            <div class="splatform-card-header">
                <button class="splatform-card-header-icon">
                    <i class="bi bi-arrow-right"></i>
                    <i class="bi bi-x"></i>
                </button>
                <h3>Web</h3>
                <span></span>
            </div>
            <div class="splatform-card-body">
                <span class="sp-badge badge-web">Web</span>
                <span class="sp-badge badge-ios">iOS</span>
                <span
                    class="sp-badge badge-android">Android</span>
                <span class="sp-badge badge-iframe">iFrame</span>
                <img src="assets/images/iframe-device2.png"
                    class="sp-device-img" loading="lazy" alt>
                <img
                    src="assets/images/icons/icon-heart.svg"
                    class="img-fluid sp-icon" loading="lazy" alt>
            </div>
        </div>
        <img src="assets/images/icons/icon-plus3.png" class="sp-icon-plus"
            loading="lazy" alt>
        <img src="assets/images/icons/icon-circle2.png"
            class="sp-icon-circle" loading="lazy" alt>
    </div>
    <div class="supported-platform-ribbon" #lottieContainerSP></div>
</section>