.curve-footer {
    z-index: 5;
    // margin-bottom: -3em;
    position: relative;

    .c-bend-wrap {
        z-index: 5;
        position: relative;
        inset: auto 0% 0%;

        .c-bend_bottom {
            width: 100%;
            height: 10.25em;
            position: absolute;
            inset: 0% 0% auto;
            overflow: hidden;
            transform: rotate(180deg);

            .c-bend_div {
                background-color: #fff;
                border-radius: 100%;
                width: 200%;
                height: 750%;
                position: absolute;
                inset: 0% 0% 0% -50%;
                overflow: hidden;
            }
        }
    }
}

.footer-top-area {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #6a2be9;
    background-image: url(../../../../public/assets/images/stars.svg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    overflow: hidden;
    cursor: url(../../../../public/assets/images/cursor-star.svg), auto;

    h1 {
        color: #fff;
        font-size: 165px;
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        width: 100%;
        font-weight: bold;
        transform: translate(-50%, -50%);
        line-height: 1.1;
    }

    .c-gradient {
        background-image: radial-gradient(circle, #0000, #6a2be9 25%);
        position: absolute;
        inset: 0%;
        transform: scale(2);
        top: 0;
        left: 0;
        height: 100%;
        z-index: 0;
        will-change: transform;
        transform-style: preserve-3d;
    }

    .cta-button {
        // padding: 23px 40px;
        // position: absolute;
        // font-size: 1.5rem;
        // border: none;
        // border-radius: 12px;
        // background: #a3ff4e;
        // color: #000;
        // font-weight: bold;
        // cursor: pointer;
        // box-shadow: 5px 5px 0 #000;
        // font-weight: 600;
        // display: flex;
        // gap: 15px;
        // justify-content: center;
        // align-items: center;
        // z-index: 4;
        // transition: 0.3s linear;
        border: 0;
        background: none;

        img {
            width: 200px;
        }
    }
}


footer {
    background-color: #6A2BE9;
    padding: 0 0 50px;
    background-image: url(../../../../public/assets/images/stars.svg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;


    .footer-inner {
        border-radius: 40px;
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0px 24px 38px 0px rgba(22, 29, 36, 0.08);
        backdrop-filter: blur(50px);
        min-height: 300px;
        padding: 70px 45px 45px;
        display: flex;
        flex-direction: column;
        gap: 45px;
        position: relative;

        &::before,
        &::after {
            content: '';
            border-radius: 40px;
            padding: 2px;
            background: linear-gradient(130deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%);

            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &::after {
            background: linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%);
        }

        .footer-left-area {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-right: 10px;
            z-index: 1;
            position: relative;

            .footer-logo {
                width: 200px;
            }

            h5 {
                font-size: 20px;
                color: #fff;
            }

            p {
                margin-bottom: 0;
                font-size: 14px;
                color: #fff;
                line-height: 24px;
                font-weight: 400;
            }
        }

        .footer-menu {
            z-index: 1;
            position: relative;

            h5 {
                font-size: 20px;
                font-weight: 600;
                color: #fff;
                margin-bottom: 20px;
            }

            ul {
                padding: 0;
                margin: 0;
                display: flex;
                list-style: none;
                flex-direction: column;
                gap: 12px;

                li {
                    a {
                        display: inline-flex;
                        align-items: flex-start;
                        gap: 5px;
                        justify-content: space-between;
                        color: #fff;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 400;

                        .bi {
                            font-size: 12px;
                            transform: translateY(2px);
                        }

                        &:hover {
                            transform: scale(1.01);
                        }
                    }
                }
            }
        }

        .footer-strip {
            border-radius: 15px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(10px);
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #FFF;
            font-size: 14px;
            z-index: 1;
            position: relative;
            flex-wrap: wrap;
            gap: 10px;

            p {
                margin-bottom: 0;
                font-weight: 400;
            }

            .fs-menu {
                display: flex;
                align-items: center;
                gap: 10px 15px;
                flex-wrap: wrap;

                a {
                    color: #FFF;
                    font-size: 14px;
                    text-decoration: underline;
                    font-weight: 400;
                }
            }
        }

        .footer-icon-plus {
            position: absolute;
            z-index: -1;
            bottom: 40px;
            right: -25px;
            width: 70px;
        }

        .footer-icon-ziggle {
            position: absolute;
            z-index: -1;
            left: 22%;
            top: 65px;
            width: 30px;
            opacity: 0.6;
        }

        .footer-icon-mascot {
            position: absolute;
            z-index: 1;
            right: 15px;
            top: -155px;
            width: 130px;
        }

        .footer-circle-blur {
            position: absolute;
            width: 242px;
            height: 242px;
            position: absolute;
            left: 92px;
            bottom: 135px;
            background-color: rgba(216, 17, 173, 0.35);
            filter: blur(50px);
            top: 40px;
            left: 30px;
            z-index: -1;
        }
    }
}


@media(max-width: 992px) {
    .footer-top-area {
        h1 {
            font-size: 145px;
        }
    }

    footer {
        overflow: hidden;

        .footer-inner {
            padding: 60px 35px 35px;
            border-radius: 35px;

            &::before,
            &::after {
                border-radius: 35px;
            }
        }
    }
}

@media(max-width: 768px) {
    .footer-top-area {
        height: 300px;

        h1 {
            font-size: 95px;
        }

        .cta-button {
            img {
                width: 155px;
            }
        }
    }

    footer {
        .footer-inner {
            padding: 30px;
            border-radius: 25px;
            gap: 25px;

            &::before,
            &::after {
                border-radius: 25px;
            }

            .footer-menu {
                margin-top: 1.5rem;

                h5 {
                    margin-bottom: 10px;
                }

                ul {
                    gap: 5px;
                }
            }
        }
    }
}

@media(max-width: 576px) {
    .footer-top-area {
        height: 200px;

        h1 {
            font-size: 45px;
        }

        .cta-button {
            img {
                width: 130px;
            }
        }
    }

    footer {
        .footer-inner {

            padding: 25px;
            border-radius: 25px;
            gap: 25px;

            &::before,
            &::after {
                border-radius: 25px;
            }
            .footer-menu {
                h5 {
                    margin-bottom: 10px;
                    font-size: 18px;
                }
            }
            .footer-icon-mascot {
                top: -60px;
                width: 100px;
            }
        }
    }
}