
<div class="curve-footer">
    <div class="c-bend-wrap">
        <div class="c-bend_bottom">
            <div class="c-bend_div"></div>
        </div>
    </div>
</div>

<footer>
    <div #ftaRef class="footer-top-area">
        <h1>Monetize Your Application</h1>
        <button class="cta-button">
            <img src="assets/images/icons/footer-mascot.png" loading="lazy" alt>
        </button>
        <div class="c-gradient"></div>
    </div>
    <div class="container-lg">
        <div class="footer-inner">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-left-area">
                        <img src="assets/images/logo.png" class="footer-logo"
                            loading="lazy" alt>
                        <h5 class="mt-md-4 mt-3">A Little About Monetize</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Accusantium adipisci quaerat voluptate
                            deleniti nam amet magni quo praesentium.</p>
                    </div>
                </div>
                <div class="col-md-7 ps-lg-5">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-6">
                            <div class="footer-menu">
                                <h5>Product</h5>
                                <ul>
                                    <li>
                                        <a routerLink="/coming-soon">iOS
                                            Documentation</a>
                                    </li>
                                    <li>
                                        <a routerLink="/coming-soon">Android
                                            Documentation</a>
                                    </li>
                                    <li>
                                        <a routerLink="/coming-soon">API
                                            Documentation</a>
                                    </li>
                                    <li>
                                        <a routerLink="/coming-soon">Dev
                                            Support</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6">
                            <div class="footer-menu">
                                <h5>Company</h5>
                                <ul>
                                    <li>
                                        <a routerLink="about-us">About
                                            Company</a>
                                    </li>
                                    <li>
                                        <a routerLink="/coming-soon">Dev
                                            Support</a>
                                    </li>
                                    <li>
                                        <a routerLink="contact-us">Contact
                                            Us</a>
                                    </li>
                                    <li>
                                        <a routerLink="guide">Guides</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6">
                            <div class="footer-menu">
                                <h5>Resources</h5>
                                <ul>
                                    <li>
                                        <a routerLink="/media-kit">Media Kit</a>
                                    </li>
                                    <li>
                                        <a routerLink="/coming-soon">Market
                                            Research</a>
                                    </li>
                                    <li>
                                        <a routerLink="/coming-soon">Partner
                                            Research</a>
                                    </li>
                                    <li>
                                        <a routerLink="/coming-soon">Jobs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-6 d-sm-none d-block">
                            <div class="footer-menu">
                                <h5>Social</h5>
                                <ul>
                                    <li>
                                        <a routerLink="/coming-soon">LinkedIn <i
                                                class="bi bi-arrow-up-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 d-sm-block d-none">
                    <div class="footer-menu">
                        <h5>Social</h5>
                        <ul>
                            <li>
                                <a routerLink="/coming-soon">LinkedIn <i
                                        class="bi bi-arrow-up-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-strip">
                <p class="fs-copyright">Copyright 2025 © CR Monetize.</p>
                <div class="fs-menu">
                    <a routerLink="privacy-policy">Privacy Policy</a>
                    <a routerLink="terms-of-service">Publisher Terms of
                        Service</a>
                    <a routerLink="terms-of-service">Terms of Service</a>
                </div>
            </div>
            <span class="footer-circle-blur"></span>
            <img src="assets/images/icons/icon-ziggle2.png"
                class="footer-icon-ziggle" loading="lazy" alt>
            <img src="assets/images/icons/icon-plus2.png"
                class="footer-icon-plus" loading="lazy" alt>
            <img src="assets/images/icons/icon-mascot9.png"
                class="footer-icon-mascot" loading="lazy" alt>
        </div>
    </div>
</footer>