@use "sass:math";

// px to rem logic
@function px-rem($px, $base: 16) {
  @return math.div($px, $base) * 1rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: 0.3s linear;
  font-family: var(--font-bricolage);

  &.scrolled {
    .navbar-brand {
      .parent-company {
        opacity: 0;
      }
    }
  }

  .navbar-brand {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-size: px-rem(13);
    align-items: flex-end;
    max-width: px-rem(200);

    img {
      width: 100%;
      transition: 0.3s linear;
    }

    .parent-company {
      margin-right: px-rem(3);
      color: var(--color-text2);
      letter-spacing: -0.5px;
      font-weight: 600;
      transition: 0.3s linear;
      transform: translateY(-2px);
      margin-bottom: -1rem;
    }
  }

  .navbar-brand,
  .off-toggle-wrapper {
    transition: 0.3s linear;
  }
}

.navbar-nav {
  grid-row-gap: px-rem(20);
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  padding-top: px-rem(20);

  .nav-item {
    .nav-link {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      padding: 0;
      display: block;

      span {
        display: inline-block;
        position: relative;
        line-height: 1;
        letter-spacing: -1px;
        font-weight: 600;
        text-transform: none;
        font-size: px-rem(30);
        color: var(--color-text2);
        transition: 0.4s ease-out;

        &::after {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(px-rem(45));
          transition: 0.4s ease-out;
        }
      }

      &:hover {
        span {
          transform: translateY(px-rem(-45));
        }
      }
    }
  }
}

.offcanvas {
  background: #fdd94f;
  border: 0;
  height: px-rem(40);
  width: px-rem(40);
  visibility: hidden;
  opacity: 0;
  transform: none;
  top: px-rem(20);
  right: px-rem(38);
  border-radius: px-rem(5);
  transition: 0.3s linear;
  padding: 1.2rem;

  .offcanvas-body {
    overflow: visible;
    max-height: fit-content;
    padding: 0;
    padding-bottom: 1.2rem;
  }

  .offcanvas-footer {
    display: flex;
    flex-direction: column;
    gap: px-rem(10);
    padding-top: 1.2rem;
    border-top: 1px solid rgba(34, 13, 78, 0.3);

    a {
      color: var(--color-text2);
      font-size: px-rem(14);
      text-decoration: none;
      display: flex;
      gap: px-rem(5);
      align-items: center;
      font-weight: 500;
      overflow: hidden;
      transition: 0.3s ease-out;

      span {
        position: relative;
        transition: 0.3s ease-out;

        &::after {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(px-rem(20));
          transition: 0.3s ease-out;
        }
      }

      svg {
        width: px-rem(11);
        height: auto;
        transition: 0.3s ease-out;
      }

      &:hover {
        span {
          transform: translateY(px-rem(-20));
        }

        svg {
          transform: rotate(31deg);
        }
      }
    }
  }

  .navbar-nav .nav-item .nav-link {
    transition: 0.3s linear;
  }

  &.show {
    height: px-rem(350);
    width: px-rem(270);
    visibility: visible;
    opacity: 1;
    top: px-rem(20);
    right: px-rem(38);
    transition: 0.3s linear;

    .navbar-nav .nav-item .nav-link {
      transition: 0.3s linear;
    }
  }
}

.offcanvas-toggle {
  font-size: px-rem(16);
  font-weight: 600;
  color: var(--color-text2);
  padding: 0;
  border: 0;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  z-index: 1111;
  position: relative;
  overflow: hidden;
  border-radius: 0;
  transition: 0.3s linear;

  span {
    transform: translateY(0);
    display: inline-block;
    transition: 0.3s linear;
  }

  &::before {
    content: "";
    background-color: #fdd94f;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: px-rem(5);
    transform: translateX(px-rem(100));
    transition: 0.3s linear;
  }

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(px-rem(25));
    opacity: 1 !important;
    transition: 0.3s linear;
  }

  &:hover {
    span {
      transform: translateY(px-rem(-25));
    }

    &::before {
      transform: translateX(0);
    }

    &::after {
      transform: translateY(0);
    }
  }
}

.toast {
  width: px-rem(230);
  border: 0;
  padding: 0;
  left: 10px;
  bottom: 10px;
  z-index: 111;
  border-radius: 6px;
  background: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  box-shadow: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear;

  &.scrolled {
    opacity: 1;
    visibility: visible;
  }

  img {
    width: 100%;
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 0.2));
  }

  .btn-close {
    position: absolute;
    top: -6px;
    right: 8px;
    background-color: #c6f15c;
    box-shadow: px-rem(1) px-rem(1) 0 0 var(--color-text2);
    opacity: 1;
    width: 20px;
    height: 20px;
    font-size: 8px;
    border-radius: 7px;
  }

  .toast-play-btn {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: #6a2be9;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-left: 1.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 992px) {
  .offcanvas {
    &.show {
      right: px-rem(10);
    }
  }
}

@media (max-width: 992px) {
  .toast {
    width: px-rem(150);

    .btn-close {
      top: -6px;
      right: 8px;
      width: 16px;
      height: 16px;
      font-size: 8px;
      border-radius: 6px;
    }

    .toast-play-btn {
      width: 30px;
      height: 30px;
      border-radius: 10px;
      font-size: 20px;
    }
  }
}
