<div class="bg404">
    <div class="container-lg">
        <div class="error-content-box">
            <h2 class="error-display uppercase">
                <om-cryptic-text [text]="'Error 404'"></om-cryptic-text>
            </h2>
            <p>
                It’s okay to feel lost, <br>
                you’ve never been this version of you before.
            </p>
            <img
                class="giphy"
                src="assets/images/icons/giphy.gif"
                alt="hello handsome giphy from blade runner" />
            <a
                class="error-btn"
                aria-label="Return Home Link"
                routerLink="/">
                Shall we return?
            </a>
        </div>
    </div>
</div>
