<section class="faq-section">
    <div class="container-lg">
        <div class="row justify-content-between">
            <div class="col-12">
                <h1 class="heading">FAQ's</h1>
                <div class="faq-tags" #faqTags>
                    <span class="faq-tag" data-speed>Smart Analytics</span>
                    <span class="faq-tag" data-speed>Accessible Data</span>
                    <span class="faq-tag" data-speed>Quick Research</span>
                    <span class="faq-tag" data-speed>Faster Insights</span>
                    <span class="faq-tag" data-speed>Accessible Data</span>
                </div>
            </div>
            <div class="col-md-5 pe-5">
                <div class="faq-left">
                    <img src="assets/images/faq-img.png" class="faq-donkey-img d-sm-block d-none" loading="lazy" alt>
                    <img src="assets/images/icons/icon-triangle.png" class="faq-icon-triangle" loading="lazy" alt>
                    <img src="assets/images/icons/icon-ziggle2.png" class="faq-icon-ziggle" loading="lazy" alt>
                </div>
            </div>
            <div class="col-md-6">
                <div class="faq-right">
                    <div class="accordion accordion-flush" id="accordionFaq">
                        <div *ngFor="let faq of faqList; let i = index" class="accordion-item">
                            <button class="accordion-button accordion-header collapsed" type="button"
                                data-bs-toggle="collapse" [attr.data-bs-target]="'#faqAcr' + (i + 1)"
                                [attr.aria-controls]="'faqAcr' + (i + 1)">
                                <span>{{ faq.question }}</span>
                            </button>
                            <div [id]="'faqAcr' + (i + 1)" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFaq">
                                <div class="accordion-body" [innerHTML]="faq.answerHtml"></div>
                            </div>
                        </div>
                    </div>


                    <img src="assets/images/icons/icon-circle3.png" alt class="faq-icon-circle">
                    <img src="assets/images/icons/icon-3angle2.png" alt class="faq-icon-3angle">
                    <img src="assets/images/icons/icon-pentagon.png" alt class="faq-icon-pentagon">
                </div>
            </div>
        </div>
    </div>
</section>