<section class="faq-section">
    <div class="container-lg">
        <div class="row justify-content-between">
            <div class="col-12">
                <h1 class="heading">FAQ's</h1>
                <div class="faq-tags" #faqTags>
                    <span class="faq-tag" data-speed>Smart Analytics</span>
                    <span class="faq-tag" data-speed>Accessible Data</span>
                    <span class="faq-tag" data-speed>Quick Research</span>
                    <span class="faq-tag" data-speed>Faster Insights</span>
                    <span class="faq-tag" data-speed>Accessible Data</span>
                </div>
            </div>
            <div class="col-md-5 pe-5">
                <div class="faq-left">
                    <img src="assets/images/faq-img.png"
                        class="faq-donkey-img d-sm-block d-none"
                        loading="lazy" alt>
                    <img src="assets/images/icons/icon-triangle.png"
                        class="faq-icon-triangle" loading="lazy" alt>
                    <img src="assets/images/icons/icon-ziggle2.png"
                        class="faq-icon-ziggle" loading="lazy" alt>
                </div>
            </div>
            <div class="col-md-6">
                <div class="faq-right">
                    <div class="accordion accordion-flush"
                        id="accordionFlushExample">
                        <div class="accordion-item">
                            <button
                                class="accordion-button accordion-header collapsed"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq1"
                                aria-expanded="false"
                                aria-controls="faq1">
                                <span>What is an offerwall?</span>
                            </button>
                            <div id="faq1"
                                class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>The duration of integration depends
                                        on
                                        the selected solution. Adding the
                                        recommended script tag to your
                                        website
                                        may take around 10 minutes. If you
                                        have
                                        any questions or concerns during the
                                        process, don't hesitate to reach out
                                        to
                                        our support team.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button
                                class="accordion-button accordion-header collapsed"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq2"
                                aria-expanded="false"
                                aria-controls="faq2">
                                <span>How does the offerwall work?</span>
                            </button>
                            <div id="faq2"
                                class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Users can access the offerwall within
                                        your platform. They can choose from
                                        a
                                        range of available offers, complete
                                        the
                                        required actions (e.g., completing a
                                        survey or downloading an app), and
                                        earn
                                        virtual currency or other rewards
                                        upon
                                        successful completion.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button
                                class="accordion-button accordion-header collapsed"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq3"
                                aria-expanded="false"
                                aria-controls="faq3">
                                <span>What types of offers are available on
                                    the
                                    offerwall?</span>
                            </button>
                            <div id="faq3"
                                class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p class="mb-2">The offerwall provides
                                        various types of
                                        offers, including:
                                    </p>
                                    <ul class="mb-0">
                                        <li>Surveys and questionnaires </li>
                                        <li>App installations and
                                            interactions</li>
                                        <li>Video views</li>
                                        <li>Sign-ups for services or
                                            subscriptions</li>
                                        <li>Product trials and
                                            purchases</li>
                                        <li>Social media engagements</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button
                                class="accordion-button accordion-header collapsed"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq4"
                                aria-expanded="false"
                                aria-controls="faq4">
                                <span>How do users earn rewards from the
                                    offerwall?</span>
                            </button>
                            <div id="faq4"
                                class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Users can earn rewards by completing
                                        the
                                        tasks or actions specified in the
                                        offers. After completing a task
                                        successfully, they will receive
                                        virtual
                                        currency, points, or other rewards
                                        as
                                        outlined in the offer or survey
                                        description.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button
                                class="accordion-button accordion-header collapsed"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq5"
                                aria-expanded="false"
                                aria-controls="faq5">
                                <span>What is virtual currency, and how is
                                    it
                                    used?</span>
                            </button>
                            <div id="faq5"
                                class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Virtual currency is a form of digital
                                        credit earned through completing
                                        offers
                                        on the offerwall. This currency can
                                        be
                                        redeemed for a variety of rewards
                                        such
                                        as in-game items, gift cards,
                                        discounts,
                                        or even exchanged for real money,
                                        depending on the platform’s
                                        offerings.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button
                                class="accordion-button accordion-header collapsed"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq6"
                                aria-expanded="false"
                                aria-controls="faq6">
                                <span>Who can use the offerwall?</span>
                            </button>
                            <div id="faq6"
                                class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Anyone using the platform or
                                        application
                                        integrated with the offerwall can
                                        participate. The offerwall is
                                        designed
                                        to engage active users who are
                                        interested in earning rewards by
                                        completing various offers and
                                        tasks.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <img src="assets/images/icons/icon-circle3.png" alt
                        class="faq-icon-circle">
                    <img src="assets/images/icons/icon-3angle2.png" alt
                        class="faq-icon-3angle">
                    <img src="assets/images/icons/icon-pentagon.png" alt
                        class="faq-icon-pentagon">
                </div>
            </div>
        </div>
    </div>
</section>