<section class="account">
    <div class="container">
        <div class="account-card">
            <div class="account-card-left">
                <img src="assets/images/account-bg2.jpg"
                    class="account-left-img1" alt>
                <img src="assets/images/account-bg3.jpg"
                    class="account-left-img2" alt>
            </div>
            <div class="account-card-right">
                <h2>Set New Password</h2>
                <form action class="w-100">
                    <div class="form-group">
                        <input type="password" placeholder="New Password"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Confirm Password"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-light">Create New Password</button>
                    </div>
                    <div class="text-center">
                        <a routerLink="/auth/login" class="btn back-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="12" viewBox="0 0 16 12" fill="none">
                                <path
                                    d="M8.49707 0.961914C6.95644 4.03265 5.6662 5.18369 2.45088 6.00041C5.4523 7.28619 6.90981 8.79404 8.49707 11.0389"
                                    stroke="white" />
                                <path d="M3.45645 6L15.5488 6" stroke="white" />
                            </svg>
                            Back to Login
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <img src="assets/images/icons/dancing-cat.gif" class="dancing-cat" alt>
    </div>
    <img src="assets/images/icons/icon-holo.png" class="account-icon-holo1" alt>
    <img src="assets/images/icons/icon-holo2.png" class="account-icon-holo2"
        alt>
</section>