p {
    line-height: 28px;
}

.page-head {
    .last-update {
        background-color: #FDD94E;
    }
}

.media-kit {
    padding: 80px 0;

    .heading {
        color: #101010;
        margin-bottom: 1.4rem;
    }
}

@media (max-width: 768px) {

    .page-head {
        padding: 95px 0 35px;
    }
}

@media (max-width: 576px) {
    .media-kit {
        padding: 50px 0;

        .heading {
            margin-bottom: 1rem;
        }
    }
}