@use 'sass:math';
// px to rem logic
@function px-rem($px, $base: 16) {
    @return math.div($px, $base) * 1rem;
}

p {
    line-height: px-rem(28);
}

.page-head {
    .last-update {
        background-color: #FDD94E;
    }
}

.media-kit {
    padding: px-rem(80) 0;

    .heading {
        color: #101010;
        margin-bottom: 1.4rem; // already in rem, no change needed
    }
}

@media (max-width: 768px) {
    .page-head {
        padding: px-rem(95) 0 px-rem(35);
    }
}

@media (max-width: 576px) {
    .media-kit {
        padding: px-rem(50) 0;

        .heading {
            margin-bottom: 1rem; // already in rem, no change needed
        }
    }
}