<main>
    <section class="page-head">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="heading">Media Kit
                        <span class="page-head-tag tag">Pocketsfull.ai</span>
                    </h1>
                    <p class="page-head-text">Have a question or need
                        assistance? We're here to help! Reach out to us and
                        we'll get back to you as soon as possible.</p>
                    <img src="assets/images/page-head-blur.png"
                        class="page-head-blur"
                        alt>
                </div>
                <div
                    class="col-md-2 d-flex justify-content-end align-items-end">
                    <span class="tag last-update">Last Updated: [Date]</span>
                </div>
            </div>
        </div>
    </section>

    <section class="media-kit">
        <div class="container-lg">
            <h1 class="heading">Why Pocketsfull.AI?</h1>
            <p>Restaurant owners have faced a tricky ride in the last few years
                and
                one thing remains clear – eating out is as popular as ever. But
                new
                diets and category entry points change quickly. Only the fittest
                survive. Restaurants can quickly go from fully booked to
                floundering
                flop. Restaurant market research will help you satisfy consumer
                appetites. Restaurant owners have faced a tricky ride in the
                last
                few years and one thing remains clear – eating out is as popular
                as
                ever. But new diets and category entry points change quickly.
                Only
                the fittest survive. Restaurants can quickly go from fully
                booked to
                floundering flop. Restaurant market research will help you
                satisfy
                consumer appetites.</p>
        </div>
    </section>

    <section class="media-kit pt-md-4 pt-0">
        <div class="container-lg">
            <div class="row justify-content-between">
                <div class="col-md-5 mb-md-0 mb-4">
                    <img src="assets/images/logo.png" class="w-75" alt>
                </div>
                <div class="col-md-6">
                    <h1 class="heading">Our Logo</h1>
                    <p>Restaurant owners have faced a tricky ride in the last
                        few years and one thing remains clear - eating out is as
                        popular as ever. But new diets and category entry points
                        change quickly. Only the fittest survive. Restaurants
                        can quickly go from fully booked to floundering
                        flop.</p>
                    <a href="#" class="btn btn-warning">Download</a>
                </div>
            </div>
        </div>
    </section>

    <app-monetize-app />

    <div class="py-5"></div>
</main>