<section class="account">
    <div class="container">
        <div class="account-card">
            <div class="account-card-left">
                <img src="assets/images/account-bg2.jpg"
                    class="account-left-img1" loading="lazy" alt>
                <img src="assets/images/account-bg3.jpg"
                    class="account-left-img2" loading="lazy" alt>
            </div>
            <div class="account-card-right">
                <h2>Create an Account</h2>
                <form action class="w-100">
                    <div class="form-group">
                        <input type="text" placeholder="Name"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email Id"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="form-check align-items-center">
                            <input class="form-check-input"
                                type="checkbox"
                                value id="subscribe">
                            <label class="form-check-label"
                                for="subscribe">
                                I agree to the <a routerLink="#">Terms &
                                    Conditions</a>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-light">Sign Up</button>
                    </div>
                    <div class="existing-account">
                        <p class="has-account-text">Already have an account? <a
                                routerLink="/auth/login">Log in</a></p>
                        <span class="or-account-text">OR</span>
                        <div class="social-login">
                            <a routerLink>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="25" height="25" viewBox="0 0 25 25"
                                    fill="none">
                                    <path
                                        d="M22.8002 12.75C22.8002 11.97 22.7302 11.22 22.6002 10.5H12.2402V14.755H18.1602C17.9052 16.13 17.1302 17.295 15.9652 18.075V20.835H19.5202C21.6002 18.92 22.8002 16.1 22.8002 12.75Z"
                                        fill="#4285F4" />
                                    <path
                                        d="M12.2402 23.4998C15.2102 23.4998 17.7002 22.5148 19.5202 20.8348L15.9652 18.0748C14.9802 18.7348 13.7202 19.1248 12.2402 19.1248C9.37516 19.1248 6.95016 17.1898 6.08516 14.5898H2.41016V17.4398C4.22016 21.0348 7.94016 23.4998 12.2402 23.4998Z"
                                        fill="#34A853" />
                                    <path
                                        d="M6.08524 14.5896C5.86524 13.9296 5.74024 13.2246 5.74024 12.4996C5.74024 11.7746 5.86524 11.0696 6.08524 10.4096V7.55957H2.41024C1.64023 9.09243 1.23956 10.7842 1.24024 12.4996C1.24024 14.2746 1.66524 15.9546 2.41024 17.4396L6.08524 14.5896Z"
                                        fill="#FBBC05" />
                                    <path
                                        d="M12.2402 5.875C13.8552 5.875 15.3052 6.43 16.4452 7.52L19.6002 4.365C17.6952 2.59 15.2052 1.5 12.2402 1.5C7.94016 1.5 4.22016 3.965 2.41016 7.56L6.08516 10.41C6.95016 7.81 9.37516 5.875 12.2402 5.875Z"
                                        fill="#EA4335" />
                                </svg>
                            </a>
                            <a routerLink>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="20" height="25" viewBox="0 0 20 25"
                                    fill="none">
                                    <g clip-path="url(#clip0_1426_7901)">
                                        <path
                                            d="M19.1488 8.68824C17.5495 9.67647 16.5618 11.3706 16.5618 13.2529C16.5618 15.3706 17.8318 17.3 19.7602 18.1C19.3839 19.3235 18.8195 20.4529 18.114 21.4882C17.0792 22.9471 15.9973 24.4529 14.3981 24.4529C12.7989 24.4529 12.3285 23.5118 10.4471 23.5118C8.61267 23.5118 7.95416 24.5 6.44901 24.5C4.94385 24.5 3.90905 23.1353 2.73315 21.4412C1.18096 19.0882 0.287271 16.3588 0.240234 13.4882C0.240234 8.82941 3.25055 6.33529 6.26086 6.33529C7.86009 6.33529 9.1771 7.37059 10.1649 7.37059C11.1056 7.37059 12.6107 6.28824 14.3981 6.28824C16.2796 6.24118 18.0669 7.13529 19.1488 8.68824ZM13.5515 4.31176C14.3511 3.37059 14.7744 2.19412 14.8214 0.970588C14.8214 0.829412 14.8214 0.641176 14.7744 0.5C13.4104 0.641176 12.1404 1.3 11.2467 2.33529C10.4471 3.22941 9.97672 4.35882 9.92968 5.58235C9.92968 5.72353 9.92968 5.86471 9.97672 6.00588C10.0708 6.00588 10.2119 6.05294 10.306 6.05294C11.5759 5.95882 12.7518 5.3 13.5515 4.31176Z"
                                            fill="black" />
                                    </g>
                                    <defs>
                                        <clippath id="clip0_1426_7901">
                                            <rect width="19.52" height="24"
                                                fill="white"
                                                transform="translate(0.240234 0.5)" />
                                        </clippath>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <img src="assets/images/icons/dancing-cat.gif" class="dancing-cat" loading="lazy" alt>
    </div>
    <img src="assets/images/icons/icon-holo.png" class="account-icon-holo1" loading="lazy" alt>
    <img src="assets/images/icons/icon-holo2.png" class="account-icon-holo2"
        loading="lazy" alt>
</section>