// hero section start
.hero-section {
    background-image: url(../../../../public/assets/images/hero-bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 160px 0 30px;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        width: 100%;
        height: 50px;
        background: linear-gradient(0deg, #fff 0%, #ffffff00 100%);
        left: 0;
        bottom: 0;
        position: absolute;
    }

    .hero-left-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 1;
    }

    .hero-typer {
        position: absolute;
        right: -70px;
        top: 8px;
        display: flex;
        width: 250px;
        transform: rotate(-7.5deg);
        padding: 12px 15px;
        align-items: center;
        border-radius: 10px;
        background: #C6F15C;
        box-shadow: 3.5px 3.5px 0px 0px var(--color-text2);
        z-index: 1;

        h5 {
            margin-bottom: 0;
            color: var(--color-text2);
            text-align: center;
            font-family: "Bricolage Grotesque";
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -0.5px;
            display: inline-block;
        }
    }

    .hero-heading {
        color: var(--color-text2);
        font-size: 95px;
        font-weight: 700;
        line-height: 102px;
        letter-spacing: -2px;
    }

    .para-heading {
        font-size: 17px;
        line-height: 28px;
    }
    .hero-para{
        line-height: 26px;
    }

    .hero-ribbon {
        position: absolute;
        bottom: -45px;
        left: -75px;
        width: 600px;
        transform: rotate(-5deg);
    }

    .hr-icon-crown {
        position: absolute;
        left: -25px;
        top: -70px;
        animation: iconCrown 15s linear infinite;

        @keyframes iconCrown {
            0% {
                transform: translate(0);
            }

            25% {
                transform: translate(0, 15px);
            }

            50% {
                transform: translate(0) rotate(-20deg);
            }

            75% {
                transform: translate(0) rotate(-25deg);
            }

            100% {
                transform: translate(0) rotate(0);
            }
        }
    }

    .hr-icon-trophy {
        position: absolute;
        right: -5px;
        top: 18px;
        z-index: -1;
        transform: translate(0) rotate(-35deg);
        animation: iconTrophy 15s linear infinite;

        @keyframes iconTrophy {
            0% {
                transform: translate(0) rotate(-35deg);
            }

            25% {
                transform: translate(0, 20px) rotate(-45deg);
            }

            50% {
                transform: translate(0, 20px) rotate(-70deg);
            }

            75% {
                transform: translate(0, 20px) rotate(-50deg);
            }

            100% {
                transform: translate(0) rotate(-35deg);
            }
        }
    }

    .hr-icon-iridescent {
        position: absolute;
        right: 150px;
        bottom: -60px;
        animation: iconIridescent 15s linear infinite;

        @keyframes iconIridescent {
            0% {
                transform: translate(0);
            }

            25% {
                transform: translate(0, 3px) rotate(20deg);
            }

            50% {
                transform: translate(0) rotate(-55deg);
            }

            75% {
                transform: translate(0) rotate(25deg);
            }

            100% {
                transform: translate(0);
            }
        }
    }

    .hr-icon-star {
        position: absolute;
        left: 120px;
        top: -70px;
        animation: iconStar 15s linear infinite;

        @keyframes iconStar {
            0% {
                transform: translate(0);
            }

            25% {
                transform: translate(0, 6px) rotate(33deg);
            }

            50% {
                transform: translate(0, -20px) rotate(80deg);
            }

            75% {
                transform: translate(0) rotate(-45deg);
            }

            100% {
                transform: translate(0);
            }
        }
    }

    .hero-icon-cap {
        position: absolute;
        right: 85px;
        top: -90px;
        width: 50px;
        animation: iconCap 2s linear infinite;

        @keyframes iconCap {
            0% {
                transform: translate(0);
            }

            50% {
                transform: translate(0, 5px);
            }

            100% {
                transform: translate(0);
            }
        }
    }

    .hr-icon-rupee {
        position: absolute;
        right: 0px;
        top: -70px;
        animation: iconRupee 15s linear infinite;

        @keyframes iconRupee {
            0% {
                transform: translate(0);
            }

            25% {
                transform: translate(0, 6px) rotate(20deg);
            }

            50% {
                transform: translate(0, 10px) rotate(75deg);
            }

            75% {
                transform: translate(0, -10px) rotate(-170deg);
            }

            0% {
                transform: translate(0);
            }
        }
    }

    .hero-right-content {
        .hero-screens-img {
            z-index: 1;
            position: relative;
        }

        .hero-mascot {
            position: absolute;
            right: 40px;
            top: -80px;
            z-index: 0;
        }

        .hero-pill {
            padding: 10px 13px;
            border-radius: 30px;
            box-shadow: 4px 4px 0px 0px var(--color-text2);
            color: var(--color-text2);
            font-size: 12px;
            font-weight: 700;

            &.pill-orange {
                background: #FDB693;
            }

            &.pill-skyblue {
                background: #AEC8FC;
            }

            &.pill-purple {
                background: #EEA2FB;
            }

            &.pill-country {
                position: absolute;
                top: 5px;
                left: 220px;
                z-index: 2;
                transform: rotate(4.5deg);
                animation: pillCountry 15s linear infinite;

                @keyframes pillCountry {
                    0% {
                        transform: rotate(4.5deg);
                    }

                    25% {
                        transform: translate(0, 15px) rotate(0);
                    }

                    50% {
                        transform: translate(15px, -15px) rotate(4.5deg);
                    }

                    75% {
                        transform: translate(0) rotate(0);
                    }

                    100% {
                        transform: rotate(4.5deg);
                    }
                }
            }

            &.pill-gdpr {
                position: absolute;
                top: 120px;
                right: 0;
                z-index: 2;
                animation: pillGDPR 15s linear infinite;

                @keyframes pillGDPR {
                    0% {
                        transform: rotate(4.5deg);
                    }

                    25% {
                        transform: translate(0, 15px) rotate(0);
                    }

                    50% {
                        transform: translate(15px, -15px) rotate(4.5deg);
                    }

                    75% {
                        transform: translate(0) rotate(0);
                    }

                    100% {
                        transform: rotate(4.5deg);
                    }
                }
            }

            &.pill-publisher {
                position: absolute;
                bottom: 100px;
                left: 200px;
                z-index: 2;
                animation: pillGDPR 15s linear infinite;

                @keyframes pillGDPR {
                    0% {
                        transform: rotate(4.5deg);
                    }

                    25% {
                        transform: translate(0, 15px) rotate(0);
                    }

                    50% {
                        transform: translate(15px, -15px) rotate(4.5deg);
                    }

                    75% {
                        transform: translate(0) rotate(0);
                    }

                    100% {
                        transform: rotate(4.5deg);
                    }
                }
            }
        }
    }
}

// hero section end


// key metrics start
.key-metrics {
    padding: 50px 0;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container-lg {
        position: relative;
    }

    .kmr-card {
        display: flex;
        align-items: center;
        gap: 0 20px;
        padding: 25px;
        border-radius: 35px;
        border: 6px solid #FFF;
        background-color: rgba(255, 255, 255, 0.50);
        // background-image: url(../../../../public/assets/images/km-gradient.png);
        // background-size: 150px;
        // background-repeat: no-repeat;
        // background-position: left bottom;
        box-shadow: 0px 24px 38px 0px rgba(22, 29, 36, 0.08);
        backdrop-filter: blur(79px);
        overflow: hidden;
        position: relative;
        transition: 0.3s linear;

        .kmr-gradient {
            position: absolute;
            z-index: 1;
            bottom: 15px;
            left: 0;
            scale: 0.85;
            opacity: 0;

            .kmr-gradient-inner {
                position: relative;

                span {
                    position: absolute;
                }
            }

            .kmrg1 {
                width: 45px;
                height: 60px;
                transform: rotate(180deg);
                border-radius: 60px;
                background: #9747FF;
                filter: blur(40px);
                top: 0;
                left: 0;
            }

            .kmrg2 {
                width: 50px;
                height: 65px;
                transform: rotate(180deg);
                border-radius: 60px;
                background: #FF3D70;
                filter: blur(50px);
                top: 0;
                right: 0;
            }

            .kmrg3 {
                width: 45px;
                height: 60px;
                display: block;
                transform: rotate(180deg);
                border-radius: 60px;
                background: #FFEB23;
                filter: blur(40px);
                bottom: 0;
                left: 20px;
            }

        }

        .kmr-heading {
            color: var(--color-text2);
            font-size: 35px;
            font-weight: 400;
            margin-bottom: 0;
            margin-top: -5px;
            font-family: "Saira Stencil One";
            line-height: 44px;
            display: flex;
            margin-bottom: -1rem;
        }

        .kmr-title {
            color: var(--color-text2);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            margin: 0;

        }

        .kmr-icon {
            width: 75px;
            height: 75px;
            border-radius: 25px;
            border: 3.5px solid rgba(255, 255, 255, 0.30);
            background: linear-gradient(180deg, #6398F4 0%, #2A70EA 100%);
            box-shadow: 0px 22px 44px 0px rgba(99, 152, 244, 0.40);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s linear;

            svg {
                width: 35px;
            }
        }

        &:hover {
            .kmr-icon {
                box-shadow: none !important;
            }

            .kmr-gradient {
                opacity: 1;
                animation: kmrGradient 4.5s linear infinite;
            }

            @keyframes kmrGradient {
                0% {
                    bottom: 0;
                    left: 0;
                }

                12% {
                    bottom: 80%;
                    left: 0;
                }

                25% {
                    bottom: 80%;
                    left: 40%;
                }

                37% {
                    bottom: 80%;
                    left: 80%;
                }

                50% {
                    bottom: 40%;
                    left: 80%;
                }

                62% {
                    bottom: 15px;
                    left: 80%;
                }

                75% {
                    bottom: 15px;
                    left: 40%;
                }

                87% {
                    bottom: 15px;
                    left: 10%;
                }

                100% {
                    bottom: 15px;
                    left: 0;
                }
            }

        }
    }

    .col-md-4:nth-child(2) {
        .kmr-card {
            .kmr-icon {
                border: 3.5px solid rgba(255, 255, 255, 0.30);
                background: linear-gradient(180deg, #FF649B 0%, #FF3D70 100%);
                box-shadow: 0px 22px 44px 0px rgba(255, 61, 112, 0.40);
                transition: 0.3s linear;
            }
        }
    }

    .col-md-4:nth-child(3) {
        .kmr-card {
            .kmr-icon {
                border-radius: 25px;
                border: 3.5px solid rgba(255, 255, 255, 0.30);
                background: linear-gradient(180deg, #DC70F2 0%, #AE24CB 100%);
                box-shadow: 0px 22px 44px 0px rgba(220, 112, 242, 0.40);
                transition: 0.3s linear;
            }
        }
    }

    .km-plus-icon {
        position: absolute;
        width: 70px;
        bottom: -60px;
        right: 15px;
    }

    .km-3angle-icon {
        position: absolute;
        width: 70px;
        top: -40px;
        left: 25px;
    }

    .km-icon-wrapper {
        position: absolute;
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: 2;
        opacity: 0;
        transition: all .3s cubic-bezier(0.75, -0.6, 0.2, 1.7);

        &.kmiw1 {
            top: -120px;
            right: 120px;
        }

        &.kmiw2 {
            bottom: -120px;
            right: 22%;
        }

        &.kmiw3 {
            top: -150px;
            left: 45%;
        }

        &.kmiw4 {
            top: -110px;
            left: 22%;
        }

        &.kmiw5 {
            bottom: -30px;
            left: -30px;
        }

        &.kmiw6 {
            bottom: -30px;
            right: -30px;
        }

        &.kmiw7 {
            bottom: -122px;
            left: 45%;
        }

        &.kmiw8 {
            top: -122px;
            right: 28%;
        }

        &.kmiw9 {
            bottom: -122px;
            left: 20%;
        }

        &.kmiw10 {
            top: -125px;
            left: 30px;
        }

        &.kmiw11 {
            bottom: -125px;
            right: 110px;
        }

        .km-icon {
            max-width: 100%;
            scale: 0.1;
            transform: rotate(180deg);
            transition: all .3s cubic-bezier(0.75, -0.6, 0.2, 1.7);
        }

        &:hover {
            opacity: 1;

            .km-icon {
                scale: 1.3;
                transform: rotate(0);
            }
        }
    }
}

// key metrics end


// supported platforms
.supported-platforms {
    padding: 50px 0;
    background-image: url(../../../../public/assets/images/supported-platform.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    overflow: hidden;

    .sp-container {
        z-index: 1;
        height: 80vh;
        margin-top: 30px;
    }

    .supported-platform-head {
        position: relative;
        padding-bottom: 30px;

        img {
            position: absolute;
            right: -20px;
            top: -20px;
        }
    }

    .splatform-card {
        border-radius: 2.75rem;
        width: 20rem;
        height: 3.75rem;
        background-color: #FF8CDB;
        transition: 0.3s linear;
        overflow: hidden;
        position: absolute;
        z-index: 1;

        .splatform-card-header {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            height: 3.75rem;
            position: relative;
            transition: 0.3s linear;

            .splatform-card-header-icon {
                background-color: var(--color-text2);
                border: 0;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 25px;
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.5s linear;

                .bi-x {
                    display: none;
                }
            }

            h3 {
                color: var(--color-text2);
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 0;
                transition: 0.3s linear;
            }
        }

        .splatform-card-body {
            padding: 15px;
            position: relative;
            height: calc(100% - 3.75rem);
            opacity: 0;
            transition: 0.3s ease-in-out;
            display: flex;
            align-items: flex-end;
            padding-bottom: 0;
            justify-content: center;

            .sp-badge {
                display: inline-flex;
                transform: rotate(-12deg);
                padding: 10px 15px;
                border-radius: 30px;
                background: #91CDFF;
                box-shadow: 5px 5px 0px 0px #000;
                font-size: 14px;
                font-weight: bold;
                color: var(--color-text2);
            }

            .sp-icon {
                position: absolute;
                right: 10px;
                top: 25px;
                width: 80px;
            }

            .sp-badge {
                position: absolute;
                top: 20px;
                left: 15px;
            }

            .sp-device-img {
                margin-bottom: -25px;
                width: 230px;
            }
        }

        &.sp-android {
            top: 5%;
            left: 50%;
            transform: translateX(-50%);

            &:hover {
                z-index: 2;
            }
        }

        &.sp-ios {
            background-color: #FDB693;
            bottom: 30%;
            left: 5%;

            .splatform-card-body {
                .sp-badge {
                    background-color: #C6F15C;
                }

                .sp-device-img {
                    width: 330px;
                }

                .sp-icon {
                    position: absolute;
                    left: 31%;
                    right: auto;
                    top: 38%;
                    width: 80px;
                }
            }
        }

        &.sp-iframe {
            background-color: #91CDFF;
            bottom: 38%;
            right: 5%;

            .splatform-card-body {
                .sp-badge {
                    background-color: #FFFB91;
                    transform: rotate(4.32deg);
                    padding: 10px 18px;
                    top: -10px;

                    &.badge-ios {
                        background-color: #FDB693;
                        top: -5px;
                        left: 95px;
                        transform: rotate(4.32deg);
                    }

                    &.badge-android {
                        background-color: #C6F15C;
                        transform: rotate(4.32deg);
                        top: 48px;
                        left: 30px;
                    }
                }

                .sp-device-img {
                    width: 350px;
                    margin-bottom: 0;
                }

                .sp-icon {
                    position: absolute;
                    right: 0;
                    top: 20%;
                    width: 80px;
                }
            }
        }

        &:hover {
            border-radius: 2rem;
            width: 23rem;
            height: 25rem;

            .splatform-card-header {
                .splatform-card-header-icon {
                    left: calc(100% - 32px);
                    transform: translate(-50%, -50%);

                    .bi-arrow-right {
                        display: none;
                    }

                    .bi-x {
                        display: block;
                    }
                }

                h3 {
                    opacity: 0;
                }
            }

            .splatform-card-body {
                opacity: 1;
            }

        }
    }

    .sp-icon-plus {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
    }

    .sp-icon-circle {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70px;
    }


    .supported-platform-ribbon {
        position: absolute;
        bottom: -50px;
        right: -25px;
        width: 600px;
    }
}

// supported platforms end


// user cases
.use-cases {
    .use-case-card-left {
        background-color: #98c42b;
        padding: 50px 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        z-index: 0;
        overflow: hidden;

        &::before {
            content: '';
            background-image: url(../../../../public/assets/images/ucl-bg.png);
            height: 72%;
            width: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: bottom;
            position: absolute;
            right: -100px;
            bottom: 0;
            z-index: -1;
        }

        .ucl-gif {
            position: absolute;
            top: 10px;
            right: 31%;
            width: 120px;
        }

        .uc-tag {
            border-radius: 10px;
            background: #6A2BE9;
            box-shadow: 3.5px 3.5px 0px 0px var(--color-text2);
            display: inline-flex;
            transform: rotate(-9.253deg);
            padding: 15px 18px;
            width: auto;
            gap: 10px;
            font-size: 22px;
            color: #fff;
            position: absolute;
            white-space: nowrap;
            top: 90px;
            right: 55px;
        }

        .ucl-img {
            width: 270px;
            display: block;
            margin-inline: auto;
            margin-bottom: -30px;
        }

        .uc-icon-square {
            position: absolute;
            bottom: 60px;
            left: 60px;
            width: 55px;
        }

        .uc-icon-ziggle {
            position: absolute;
            bottom: 0;
            right: 140px;
            width: 70px;
        }
    }

    .use-case-card-right {
        background-color: var(--color-text2);
        padding: 50px 30px;

        .uc-card {
            background-color: #361f5d;
            padding: 15px;
            border-radius: 30px;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            transition: 0.3s linear;

            img {
                width: 100px;
                transition: 0.3s linear;
            }

            p {
                margin: 0;
                transform: rotate(-8deg);
                padding: 7px 15px;
                text-align: center;
                gap: 10px;
                position: absolute;
                left: -160px;
                bottom: 15px;
                border-radius: 30px;
                background: rgba(106, 43, 233, 0.90);
                color: #fff;
                font-size: 12px;
                z-index: 1;
                white-space: nowrap;
                transition: 0.3s linear;
            }

            &:hover {
                img {
                    transform: translateY(-20px);
                }

                p {
                    left: 50%;
                    bottom: 25px;
                    transform: translateX(-50%) rotate(0);
                }
            }
        }
    }
}

// user cases end


// offerwall servey slider
.offerwall-survey {
    padding: 70px 0 160px;
    background-color: #492EB3;
    position: relative;
    overflow: hidden;

    .os-mascot {
        width: 170px;
        position: absolute;
        bottom: 50px;
        right: 160px;
        z-index: 1;
    }
}

// offerwall servey slider end



.os-strip {
    position: relative;
    overflow: hidden;
    margin: -100px 0;
    padding: 50px;

    img {
        width: 100%;
    }
}

// faq section 
.faq-section {
    padding: 60px 0;
    background-color: #DDDCFF;
    overflow: hidden;

    .faq-tags {
        position: relative;

        .faq-tag {
            display: inline-flex;
            align-items: center;
            padding: 10px 15px;
            border-radius: 50px;
            color: var(--color-text2);
            background-color: #C6F15C;
            box-shadow: 3.5px 3.5px 0px 0px var(--color-text2);
            z-index: 1;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0;
            position: absolute;
            top: 0;
            left: 130px;

            &:nth-child(1) {
                z-index: 5;
                transform: rotate(3.90deg);
            }

            &:nth-child(2) {
                background-color: #FFFB91;
                z-index: 4;
                transform: rotate(4.30deg);
                top: -30px;
                left: 105px;
            }

            &:nth-child(3) {
                background-color: #FDB693;
                z-index: 3;
                transform: rotate(-7.15deg);
                top: -20px;
                left: 195px;
            }

            &:nth-child(4) {
                background-color: #91CDFF;
                z-index: 2;

                z-index: 2;
                transform: rotate(-5.90deg);
                top: -10px;
                left: 60px;
            }

            &:nth-child(5) {
                background-color: #F24AC7;
                z-index: 1;
                transform: rotate(5.70deg);
                top: 10px;
                left: 203px;

            }
        }
    }

    .faq-left {
        position: relative;
        z-index: 0;
        padding-top: 60px;

        &::before {
            content: '';
            border-radius: 50%;
            background: linear-gradient(180deg, rgba(152, 149, 249, 0.37) -6.63%, rgba(110, 106, 234, 0.53) 90.4%);
            filter: blur(85px);
            width: 230px;
            height: 230px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }

        .faq-donkey-img {
            width: 400px;
        }

        .faq-icon-triangle {
            position: absolute;
            left: 0;
            bottom: -65px;
            width: 45px;
        }

        .faq-icon-ziggle {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
        }
    }

    .faq-right {
        position: relative;

        .accordion {
            position: relative;
            z-index: 7;

            .accordion-item {
                background-color: rgba(255, 255, 255, 0.20);
                backdrop-filter: blur(5px);
                border: 0;
                margin-bottom: 10px;
                position: relative;
                border-radius: 15px;
                z-index: 0;

                &::before,
                &::after {
                    content: "";
                    border-radius: 15px;
                    padding: 2px;
                    background: linear-gradient(130deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 6%);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    background-clip: padding-box, border-box;
                    background-origin: padding-box, border-box;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }

                &::after {
                    background: linear-gradient(-45deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 6%);
                }

                .accordion-button {
                    background-color: transparent;
                    box-shadow: none;
                    position: relative;
                    padding: 15px;
                    color: var(--color-text2);
                    font-size: 16px;
                    font-weight: 500;

                    &::after {
                        display: none;
                    }

                    span {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        &::after {
                            content: '\F4FE';
                            border: 1px solid #FFF;
                            background: rgba(255, 255, 255, 0.50);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            font-size: 25px;
                            font-family: bootstrap-icons !important;
                            transition: 0.3s linear;
                        }
                    }

                }

                .accordion-button:not(.collapsed)::after {
                    transform: none;
                }

                .accordion-button:not(.collapsed) {
                    span {
                        &::after {
                            content: '\F2EA';
                            transition: 0.3s linear;
                        }
                    }
                }

                .accordion-body {
                    padding: 0 15px 15px;
                    font-size: 16px;
                    color: #616161;
                    line-height: 28px;

                    p {
                        margin-bottom: 0;
                    }

                    li {
                        font-size: 15px;
                    }
                }
            }
        }


        .faq-icon-circle {
            position: absolute;
            top: 10px;
            right: 40px;
            width: 40px;
        }

        .faq-icon-3angle {
            position: absolute;
            top: 20%;
            right: 30%;
            width: 60px;
        }

        .faq-icon-pentagon {
            position: absolute;
            bottom: 25%;
            left: 30px;
            width: 45px;
        }
    }
}

// faq section end

// user insights
.user-insights {
    padding: 60px 0 0;
    background-image: url(../../../../public/assets/images/user-insight-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;

    .us-img {
        max-width: 650px;
        display: block;
        margin-inline: auto;
        margin-top: 40px;
    }

    .us-bottom-area {
        margin-top: -120px;
        position: relative;

        .us-mascot {
            position: absolute;
            width: 160px;
            left: 50px;
            bottom: 15px;
        }

        .us-mascot2 {
            position: absolute;
            width: 230px;
            right: 50px;
            bottom: 0;
        }
    }

    .ui-icon-square {
        position: absolute;
        right: 90px;
        top: 100px;
        width: 60px;
    }
}

// user insights end
.your-earning {
    padding: 70px 0;
    z-index: 0;
    position: relative;
    overflow: hidden;

    .ye-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../../../public/assets/images/your-earning-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
    }

    .your-earning-img {
        width: 520px;
        display: block;
        margin-inline: auto;
        margin-block: -100px;
        transform: translateX(-90px);
    }

    .ye-left,
    .ye-right {
        p {
            max-width: 300px;
            line-height: 28px;
        }
    }

    .ye-right {
        text-align: right;

        p {
            margin-left: auto;
        }
    }

    .ye-icon-iridescent {
        position: absolute;
        left: 60px;
        bottom: 35%;
        width: 70px;
    }

    .ye-icon-rupee {
        position: absolute;
        top: 100px;
        right: 100px;
        width: 70px;
    }
}



@media(max-width: 1030px) {
    .hero-section {

        .hero-heading {
            font-size: 75px;
            line-height: normal;
        }

        .hero-typer {
            right: -95px;
            top: 0;
            width: 240px;

            h5 {
                font-size: 20px;
                line-height: normal;
            }
        }

        .hero-ribbon {
            bottom: -105px;
            left: -65px;
            width: 560px;
        }
    }

    .use-cases {
        .use-case-card-left {
            .ucl-img {
                width: 215px;
            }

            .uc-tag {
                top: 105px;
                right: 25px;
            }

            .ucl-gif {
                top: -5px;
                right: 18%;
            }
        }

        .use-case-card-right {
            .uc-card {
                img {
                    width: 70px;
                    transition: 0.3s linear;
                }
            }
        }
    }

    .your-earning {
        .your-earning-img {
            width: 455px;
            margin-block: -80px;
            transform: translateX(-100px);
        }
    }
}

@media(max-width: 992px) {
    .hero-section {
        padding: 140px 0 30px;

        .hero-left-content {
            gap: 15px;
            margin-top: -15px;
        }

        .hero-heading {
            font-size: 70px;
        }

        .hero-para {
            margin-bottom: 0;
        }

        .hero-typer {
            right: -100px;
        }

        .hero-ribbon {
            bottom: -125px;
            left: -75px;
        }
    }

    .key-metrics .kmr-card {
        gap: 0 15px;
        padding: 20px;
        border-radius: 30px;
        border: 4px solid #FFF;
    }

    .use-cases {
        .use-case-card-left {
            .ucl-img {
                width: 195px;
                margin-bottom: -45px;
            }
        }

        .use-case-card-right {
            padding: 50px 15px;

            .g-4,
            .gy-4 {
                --bs-gutter-y: 1rem;
            }

            .g-4,
            .gx-4 {
                --bs-gutter-x: 1rem;
            }

            .uc-card {
                p {
                    font-size: 10px;
                    padding: 5px 7px;
                }

                img {
                    width: 65px;
                }
            }
        }
    }

    .your-earning {
        .your-earning-img {
            width: 455px;
            margin-block: -80px;
            transform: translateX(-100px);
        }
    }

    .user-insights {
        .us-bottom-area {
            .us-mascot {
                width: 105px;
                left: 25px;
            }

            .us-mascot2 {
                width: 160px;
                right: 15px;
            }
        }
    }
}

@media(max-width: 768px) {
    .hero-section {
        padding: 95px 0 30px;

        .hero-heading {
            font-size: 80px;
        }

        .hero-para {
            width: 80%;
        }

        .hero-typer {
            right: 19%;
            top: 5px;
        }
    }

    .key-metrics {
        height: auto;
        padding: 60px 0;

        .km-icon-wrapper {
            scale: 0.4;
        }
    }
}

@media(max-width: 576px) {
    .hero-section {
        padding: 95px 0 55px;

        .hero-heading {
            font-size: 42px;
        }

        .hero-para {
            width: 100%;
        }

        .hero-typer {
            right: 10px;
            top: -8px;
            padding: 8px 10px;
            border-radius: 8px;
            width: 155px;

            h5 {
                font-size: 16px;
            }
        }

        .hero-left-content {
            gap: 10px;
        }

        .hero-right-content {
            margin-top: 80px;

            .hero-pill {
                padding: 8px 10px;
                font-size: 11px;

                &.pill-publisher {
                    bottom: 65px;
                    left: 95px;
                }

                &.pill-country {
                    left: 100px;
                }

                &.pill-gdpr {
                    top: 75px;
                }
            }
        }

        .hr-icon-iridescent {
            right: auto;
            left: -15px;
            scale: 0.75;
        }

        .hr-icon-trophy,
        .hr-icon-crown,
        .hr-icon-star,
        .hr-icon-rupee {
            scale: 0.75;
        }

        .hero-ribbon {
            bottom: -110px;
            left: -75px;
        }
    }

    .key-metrics {
        height: auto;
        padding: 60px 0;

        .row {
            gap: 20px;
        }

        .km-icon-wrapper {
            scale: 0.4;
        }
    }

    .supported-platforms {
        padding-bottom: 0;

        .sp-container {
            height: 55vh;

            .splatform-card {
                width: 80%;

                &.sp-android {
                    top: 3%;
                    left: 45%;
                    transform: translateX(-50%);
                }

                &.sp-ios {
                    bottom: 55%;
                    right: 5%;
                    left: auto;
                }

                &.sp-iframe {
                    bottom: 30%;
                    left: 5%;
                    right: auto;
                }
            }
        }

        .supported-platform-ribbon {
            bottom: -65px;
            right: -25px;
            width: calc(100% + 60px);
        }
    }

    .use-cases {
        .use-case-card-left {
            padding: 60px 20px;
            gap: 45px;

            .uc-tag {
                border-radius: 8px;
                padding: 10px 15px;
                font-size: 16px;
                top: 100px;
                right: 55px;
            }

            .ucl-gif {
                top: 26px;
                right: 24%;
                width: 90px;
            }
        }

        .use-case-card-right {
            .uc-card {
                border-radius: 22px;
                padding: 10px;

                img {
                    width: 50px;
                }

                p {
                    font-size: 9px;
                }


                &:hover {
                    img {
                        transform: translateY(-15px);
                    }

                    p {
                        left: 50%;
                        bottom: 15px;
                        transform: translateX(-50%) rotate(0);
                    }
                }
            }
        }
    }

    .offerwall-survey {
        .os-mascot {
            width: 120px;
            right: 20px;
        }

        .reasons__carousel-desc {
            font-size: 15px;
            line-height: 24px;
        }
    }

    .faq-section {
        padding: 60px 0 50px;

        .faq-left {
            padding-top: 95px;
        }
    }

    .user-insights {
        .us-img {
            width: 100%;
            margin-top: 25px;
        }

        .ui-icon-square {
            right: 20px;
            top: 5px;
            scale: 0.5;
            opacity: 0.5;
        }

        .us-bottom-area {
            .us-mascot {
                width: 60px;
                bottom: 5px;
                left: 5px;
            }

            .us-mascot2 {
                width: 85px;
                right: 15px;
            }
        }
    }

    .your-earning {
        padding: 50px 0;

        .your-earning-img {
            width: 85%;
            margin-block: 20px;
            transform: none;
        }
    }
}