<main>
    <section class="page-head">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-10 col-md-9">
                    <h1 class="heading">Contact Us
                        <span class="page-head-tag tag">Pocketsfull.ai</span>
                    </h1>
                    <p class="page-head-text">Have a question or need
                        assistance? We're here to help! Reach out to us and
                        we'll get back to you as soon as possible.</p>
                    <img src="assets/images/page-head-blur.png"
                        class="page-head-blur"
                        alt>
                </div>
                <div
                    class="col-lg-2 col-md-3 d-flex justify-content-end align-items-end">
                    <span class="text-path">
                        <svg viewBox='0 0 200 200' width='130' height='130'
                            xmlns='http://www.w3.org/2000/svg' class="tp-svg">
                            <path id="link-circle"
                                d="M 20, 100 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0"
                                stroke="none" fill="none" />
                            <text class="tp-text">
                                <textpath href="#link-circle" stroke="none">
                                    Get in Touch Get in Touch Get in Touch Get
                                    in Touch Get in Touch
                                </textpath>
                            </text>
                        </svg>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26"
                                height="23" viewBox="0 0 26 23" fill="none">
                                <path
                                    d="M23.0436 8.15334C22.3909 8.88115 22.1351 10.6128 22.0447 12.1778C21.9247 14.1941 22.1218 16.224 22.7009 18.1576C23.1352 19.6073 23.7946 21.2165 24.7323 22.0575M24.7323 22.0575C23.7946 21.2165 22.1225 20.7344 20.6352 20.4607C18.6494 20.0955 16.6101 20.1196 14.6204 20.4554C13.0736 20.7158 11.378 21.1597 10.727 21.8856M24.7323 22.0575L1.19137 0.943311"
                                    stroke="#fff" stroke-width="1.63497" />
                            </svg>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-us">
        <div class="container-lg">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="heading">
                        <span class="tag">Let's Talk</span>
                        <span class="h-span">Your Idea</span> is <br>Our
                        Solution
                    </h1>
                    <img src="assets/images/icons/icon-plus2.png"
                        class="contact-icon-plus" alt>
                    <img src="assets/images/icons/icon-3angle2.png"
                        class="contact-icon-3angle" alt>
                </div>
                <div class="col-md-6">
                    <form action>
                        <div class="form-group">
                            <label for="name">Name*</label>
                            <input type="text" placeholder="Full Name" id="name"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" placeholder="example@email.com"
                                id="email"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="tel" placeholder="000-000-0000"
                                id="phone"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="message">Mesage</label>
                            <textarea name class="form-control"
                                id="message"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input mt-1"
                                    type="checkbox"
                                    value id="privacy">
                                <label class="form-check-label"
                                    for="privacy">
                                    This is a message that you need to read and
                                    agree to in order to proceed. This is not a
                                    drill. We need your consent to send you
                                    email communication. You can unsubscribe at
                                    any time. <a href>Privacy Policy</a>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check align-items-center">
                                <input class="form-check-input" checked
                                    type="checkbox"
                                    value id="subscribe">
                                <label class="form-check-label"
                                    for="subscribe">
                                    Opt-in to email communications. You can
                                    unsubscribe at any time.
                                </label>
                            </div>
                        </div>
                        <button class="btn">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <app-monetize-app/>

    <div class="py-5"></div>
</main>