@use 'sass:math';
// px to rem logic
@function px-rem($px, $base: 16) {
    @return math.div($px, $base) * 1rem;
}

.page-head {
    .text-path {
        .tp-svg {
            fill: #8577F0;
            stroke: #fff;
        }

        span {
            background-color: #8577F0;
        }
    }
}

.contact-us {
    padding: px-rem(60) 0 px-rem(80);
    position: relative;

    .contact-icon-plus {
        position: absolute;
        top: 60%;
        left: px-rem(55);
        width: px-rem(50);
        opacity: 0.7;
    }

    .contact-icon-3angle {
        position: absolute;
        top: 30%;
        left: 35%;
        width: px-rem(60);
    }

    .heading {
        position: relative;
        text-transform: uppercase;
        color: #101010;

        .tag {
            position: absolute;
            left: px-rem(-20);
            top: px-rem(-52);
            transform: rotate(-12deg);
        }

        .h-span {
            color: #8577F0;
        }
    }

    textarea.form-control {
        height: px-rem(90);
    }

    form {
        position: relative;
        z-index: 0;

        &::after {
            content: '';
            background-image: url(../../../../public/assets/images/contact-gif.gif);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.1;
        }
    }

    .btn {
        border-radius: px-rem(10);
        background: #FFDB00;
        display: flex;
        padding: px-rem(18);
        justify-content: center;
        align-items: center;
        gap: px-rem(10);
        align-self: stretch;
        width: 100%;
        color: #000;
        font-size: px-rem(14);
        font-weight: 500;
        line-height: normal;
        border: 0;
    }
}

@media(max-width: 768px) {
    .contact-us {
        padding: px-rem(90) 0 px-rem(50);

        .heading {
            .tag {
                left: px-rem(-8);
                top: px-rem(-40);
            }

            br {
                display: none;
            }
        }
    }
}