<main>
    <section class="page-head">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-9">
                    <h1 class="heading">Creatives
                        <span class="page-head-tag tag">Pocketsfull.ai</span>
                    </h1>
                    <p class="page-head-text">Ready-to-use graphics to promote
                        Offerwall and Surveywall. Choose the sizes and styles
                        that best suit your platform.</p>
                    <img src="assets/images/page-head-blur.png"
                        class="page-head-blur"
                        loading="lazy" alt>
                </div>
                <div
                    class="col-md-3 d-flex justify-content-end align-items-end">
                    <span class="tag last-update">Last Updated:
                        [16-06-2025]</span>
                </div>
            </div>
        </div>
    </section>
    <section class="creatives">
        <div class="container-lg mb-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="dimension-heading">Dimensions
                    (1920x1080)</h2>
                <button class="btn p-0 border-0">Download All <i
                        class="bi bi-download"></i></button>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/play-online-games(1920x1080).jpg"
                            loading="lazy" class="img-fluid" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/play-online-games(1920x1080).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/play-online-games2(1920x1080).jpg"
                            loading="lazy" class="img-fluid" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/play-online-games2(1920x1080).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/play-online-games3(1920x1080).jpg"
                            loading="lazy" class="img-fluid" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/play-online-games3(1920x1080).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg mb-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="dimension-heading">Dimensions
                    (1568x576)</h2>
                <button class="btn p-0 border-0">Download All <i
                        class="bi bi-download"></i></button>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy(1568x576).jpg"
                            loading="lazy" class="img-fluid" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy(1568x576).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy2(1568x576).jpg"
                            loading="lazy" class="img-fluid" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy2(1568x576).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg mb-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="dimension-heading">Dimensions
                    (1080x130)</h2>
                <button class="btn p-0 border-0">Download All <i
                        class="bi bi-download"></i></button>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy(1080x130).jpg"
                            loading="lazy" class="img-fluid" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy(1080x130).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy2(1080x130).jpg"
                            loading="lazy" class="img-fluid" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy2(1080x130).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy3(1080x130).jpg"
                            loading="lazy" class="img-fluid" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy3(1080x130).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy4(1080x130).jpg"
                            loading="lazy" class="img-fluid" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy4(1080x130).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg mb-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="dimension-heading">Dimensions
                    (200x200)</h2>
                <button class="btn p-0 border-0">Download All <i
                        class="bi bi-download"></i></button>
            </div>
            <div class="row g-3">
                <div class="col-md-3">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy(200x200).jpg"
                            loading="lazy" class="img-fluid w-100" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy(200x200).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy2(200x200).jpg"
                            loading="lazy" class="img-fluid w-100" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy2(200x200).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy3(200x200).jpg"
                            loading="lazy" class="img-fluid w-100" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy3(200x200).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy4(200x200).jpg"
                            loading="lazy" class="img-fluid w-100" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy4(200x200).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg mb-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="dimension-heading">Dimensions
                    (720x240)</h2>
                <button class="btn p-0 border-0">Download All <i
                        class="bi bi-download"></i></button>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy(720x240).jpg"
                            loading="lazy" class="img-fluid w-100" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy(720x240).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy2(720x240).jpg"
                            loading="lazy" class="img-fluid w-100" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy2(720x240).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg mb-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="dimension-heading">Dimensions
                    (1200x400)</h2>
                <button class="btn p-0 border-0 d-none">Download All <i
                        class="bi bi-download"></i></button>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy(1200x400).jpg"
                            loading="lazy" class="img-fluid w-100" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy(1200x400).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg mb-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="dimension-heading">Dimensions
                    (970x250)</h2>
                <button class="btn p-0 border-0 d-none">Download All <i
                        class="bi bi-download"></i></button>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy(970x250).jpg"
                            loading="lazy" class="img-fluid w-100" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy(970x250).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg mb-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="dimension-heading">Dimensions
                    (600x300)</h2>
                <button class="btn p-0 border-0 d-none">Download All <i
                        class="bi bi-download"></i></button>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="creatives-card">
                        <img
                            src="assets/images/creatives/earn-redeem-enjoy(600x300).jpg"
                            loading="lazy" class="img-fluid w-100" alt>
                        <div class="btn-container">
                            <a
                                href="assets/images/creatives/earn-redeem-enjoy(600x300).jpg"
                                download class="btn"><i
                                    class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>