<section class="services-section">
    <div class="services-wrapper container-lg">
        <div class="slides-layout">
            <div class="first services-card sc-1">
                <div class="team-background service-card-row row">
                    <div class="col-sm-5 service-card-col">
                        <div class="sc-left-content ps-0">
                            <div class="sc-img-wrapper">
                                <img
                                    src="assets/images/offerwall-device2.png"
                                    class="img-fluid mx-auto" loading="lazy"
                                    alt>
                                <h4 class="sc-points">In-Game Currency</h4>
                                <h4 class="sc-points">Instant Rewards</h4>
                                <h4 class="sc-points">Earn Points</h4>
                            </div>
                            <img src="assets/images/icons/icon-cursor.png"
                                class="sc-icon-cursor" loading="lazy" alt>
                            <img src="assets/images/icons/icon-coin1.svg"
                                class="sc-icon-coin1" loading="lazy" alt>
                            <img src="assets/images/icons/icon-coin2.svg"
                                class="sc-icon-coin2" loading="lazy" alt>
                            <img src="assets/images/icons/icon-coin3.svg"
                                class="sc-icon-coin3" loading="lazy" alt>
                        </div>
                    </div>
                    <div class="col-sm-7 service-card-col">
                        <div class="sc-right-content">
                            <span
                                class="sch-no">01.</span>
                            <div>
                                <h3 class="sc-content-heading">
                                    Offer Wall</h3>
                                <p class="sc-content-text">Users can opt in
                                    to
                                    select surveys or offers
                                    that
                                    maximize their earnings, allowing them
                                    to
                                    choose
                                    the best opportunities that fit their
                                    preferences.</p>
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/icons/icon-mascot2.png"
                        class="img-fluid" class="sc-icon-mascot" loading="lazy"
                        alt>
                    <img src="assets/images/icons/icon-bee.png"
                        class="img-fluid" class="sc-icon-bee" loading="lazy"
                        alt>
                    <img src="assets/images/icons/icon-ziggle.png"
                        class="img-fluid" class="sc-icon-ziggle" loading="lazy"
                        alt>
                </div>
            </div>
            <div class="middle services-card dark sc-2">
                <div class="position-absolute start-0 top-0 z-1">
                    <om-marquee class="marquee" animationDuration="8s">
                        <div class="text-white" #OmMarqueeContent>
                            <p>Text Goes Here</p>
                        </div>
                        <div class="text-white" #OmMarqueeContent>
                            <p>Text Goes Here</p>
                        </div>
                        <div class="text-white" #OmMarqueeContent>
                            <p>Text Goes Here</p>
                        </div>
                        <div class="text-white" #OmMarqueeContent>
                            <p>Text Goes Here</p>
                        </div>
                        <div class="text-white" #OmMarqueeContent>
                            <p>Text Goes Here</p>
                        </div>
                        <div class="text-white" #OmMarqueeContent>
                            <p>Text Goes Here</p>
                        </div>
                    </om-marquee>
                </div>
                <div class="service-card-row row">
                    <div class="col-sm-5 service-card-col">
                        <div class="sc-left-content">
                            <div class="sc-img-wrapper">
                                <img
                                    src="assets/images/daily-reward.png"
                                    class="img-fluid mx-auto"
                                    loading="lazy" alt>
                                <h4 class="sc-points">Instant
                                    Feedback</h4>
                            </div>
                            <img
                                src="assets/images/icons/icon-console.png"
                                class="sc-icon-console" loading="lazy"
                                alt>
                            <img
                                src="assets/images/icons/icon-heart.svg"
                                class="sc-icon-heart" loading="lazy"
                                alt>
                            <img
                                src="assets/images/icons/icon-3angle.png"
                                class="sc-icon-3angle" loading="lazy"
                                alt>
                            <img src="assets/images/icons/icon-plus.png"
                                class="sc-icon-plus" loading="lazy" alt>
                        </div>
                    </div>
                    <div class="col-sm-7 service-card-col">
                        <div class="sc-right-content">
                            <span
                                class="sch-no">02.</span>
                            <div>
                                <h3
                                    class="sc-content-heading">
                                    Earn Rewards</h3>
                                <p class="sc-content-text">The user
                                    completes a quick
                                    action—whether
                                    it’s
                                    installing an app, playing a game,
                                    or
                                    filling
                                    out a survey—and seamlessly returns
                                    to
                                    the app,
                                    ready to enjoy their rewards.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img
                    src="assets/images/icons/icon-mascot3.png"
                    class="sc-icon-mascot" loading="lazy" alt>
                <img
                    src="assets/images/icons/icon-bee.png"
                    class="sc-icon-bee" loading="lazy" alt>
                <div class="position-absolute start-0 bottom-0 z-1">
                    <om-marquee class="marquee marquee2" animationDuration="8s">
                        <div class="text-white" #OmMarqueeContent>
                            <p>Text Goes Here</p>
                        </div>
                        <div class="text-white" #OmMarqueeContent>
                            <p>Text Goes Here</p>
                        </div>
                        <div class="text-white" #OmMarqueeContent>
                            <p>Text Goes Here</p>
                        </div>
                        <div class="text-white" #OmMarqueeContent>
                            <p>Text Goes Here</p>
                        </div>
                        <div class="text-white" #OmMarqueeContent>
                            <p>Text Goes Here</p>
                        </div>
                        <div class="text-white" #OmMarqueeContent>
                            <p>Text Goes Here</p>
                        </div>
                    </om-marquee>
                </div>
            </div>
            <div class="middle services-card sc-3">
                <div class="service-card-row row">
                    <div
                        class="col-sm-5 service-card-col order-md-2 justify-content-sm-end">
                        <div class="sc-left-content">
                            <div class="sc-img-wrapper">
                                <img src="assets/images/app-rewards-before.png"
                                    class="img-fluid" loading="lazy" alt>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 service-card-col order-md-1">
                        <div class="sc-right-content">
                            <span class="sch-no">03.</span>
                            <div>
                                <h3 class="sc-content-heading">
                                    In-App Rewards
                                    <span class="sc-content-badge">
                                        <i
                                            class="bi bi-arrow-down-right-circle-fill">&nbsp;</i>
                                        Gift Card Catalogue
                                    </span>
                                </h3>

                                <p class="sc-content-text">CS Monetize rewards
                                    users
                                    with the in-app
                                    currency you’ve set up, seamlessly
                                    integrating
                                    rewards into their experience. Boost
                                    engagement
                                    as users earn while they play!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="assets/images/gc-balls.svg"
                    class="w-100 position-absolute bottom-0 start-0 z-n1"
                    loading="lazy" alt>
                <img src="assets/images/icons/icon-bee.png"
                    class="sc-icon-bee" loading="lazy" alt>
                <img src="assets/images/icons/icon-heart2.png"
                    width="50" class="sc-icon-heart2" loading="lazy" alt>
            </div>
            <div class="middle services-card dark sc-4">
                <div
                    class="service-card-row row">
                    <div class="col-sm-5 service-card-col">
                        <div class="sc-left-content">
                            <div class="sc-img-wrapper">
                                <img
                                    src="assets/images/oli.png"
                                    class="img-fluid mx-auto"
                                    loading="lazy" alt>
                            </div>
                            <img
                                src="assets/images/icons/icon-square.png"
                                class="sc-icon-square" loading="lazy"
                                alt>
                            <img
                                src="assets/images/icons/icon-3angle.png"
                                class="sc-icon-3angle" loading="lazy"
                                alt>
                            <img
                                src="assets/images/icons/icon-circle.png"
                                class="sc-icon-circle" loading="lazy"
                                alt>
                        </div>
                    </div>
                    <div class="col-sm-7 service-card-col">
                        <div
                            class="sc-right-content">
                            <span
                                class="sch-no">04.</span>
                            <div>
                                <h3
                                    class="sc-content-heading">
                                    One Link Integration</h3>
                                <p class="sc-content-text">No Callbacks,
                                    No S2S, No IT Setup
                                    NeededWith One-Link Integration, you
                                    can
                                    skip the complex server connections,
                                    callbacks, and IT infrastructure
                                    typically required for third-party
                                    integrations.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <om-marquee class="position-absolute start-0 bottom-0 zn-1"
                    animationDuration="10s">
                    <div #OmMarqueeContent class="sci-card">
                        <div class="sci-card-left">
                            <span class="sci-card-badge">Quick
                                Start</span>
                            <h3 class="sci-card-title">Instant
                                Setup</h3>
                            <p class="sci-card-text">No developers
                                needed. Just use one
                                simple link.</p>
                        </div>
                        <div class="sci-card-right">
                            <span class="sci-card-badge">Fast</span>
                            <h3 class="sci-card-title">Speed</h3>
                            <p class="sci-card-text">Faster
                                Implementation</p>
                        </div>
                    </div>
                    <div #OmMarqueeContent class="sci-card scic-2">
                        <div class="sci-card-left">
                            <span class="sci-card-badge">Quick
                                Start</span>
                            <h3 class="sci-card-title">Instant
                                Setup</h3>
                            <p class="sci-card-text">No developers
                                needed. Just use one
                                simple link.</p>
                        </div>
                        <div class="sci-card-right">
                            <span class="sci-card-badge">Fast</span>
                            <h3 class="sci-card-title">Speed</h3>
                            <p class="sci-card-text">Faster
                                Implementation</p>
                        </div>
                    </div>
                    <div #OmMarqueeContent class="sci-card scic-3">
                        <div class="sci-card-left">
                            <span class="sci-card-badge">Quick
                                Start</span>
                            <h3 class="sci-card-title">Instant
                                Setup</h3>
                            <p class="sci-card-text">No developers
                                needed. Just use one
                                simple link.</p>
                        </div>
                        <div class="sci-card-right">
                            <span class="sci-card-badge">Fast</span>
                            <h3 class="sci-card-title">Speed</h3>
                            <p class="sci-card-text">Faster
                                Implementation</p>
                        </div>
                    </div>
                </om-marquee>
                <img
                    src="assets/images/icons/icon-mascot4.png"
                    class="sc-icon-mascot" loading="lazy" alt>
                <img
                    src="assets/images/icons/icon-bee.png"
                    class="sc-icon-bee" loading="lazy" alt>
            </div>
            <div class="middle services-card sc-5">
                <div class="service-card-row row">
                    <div
                        class="col-sm-5 service-card-col">
                        <div class="sc-left-content">
                            <div class="sc-img-wrapper">
                                <img src="assets/images/revenue.png"
                                    class="img-fluid" loading="lazy" alt>
                            </div>
                            <img
                                src="assets/images/icons/icon-cursor.png"
                                class="sc-icon-cursor" loading="lazy" alt>
                            <img
                                src="assets/images/icons/icon-coin1.svg"
                                class="sc-icon-coin1" loading="lazy" alt>
                            <img
                                src="assets/images/icons/icon-coin2.svg"
                                class="sc-icon-coin2" loading="lazy" alt>
                            <img
                                src="assets/images/icons/icon-coin3.svg"
                                class="sc-icon-coin3" loading="lazy" alt>
                            <img
                                src="assets/images/icons/icon-square.png"
                                class="sc-icon-square" loading="lazy" alt>
                        </div>
                    </div>
                    <div class="col-sm-7 service-card-col">
                        <div class="sc-right-content">
                            <span class="sch-no">05.</span>
                            <div>
                                <h3 class="sc-content-heading">
                                    Extra Revenue with our Data SDK
                                </h3>

                                <p class="sc-content-text">In addition to
                                    One-Link
                                    Integration, our Data SDK
                                    lets you monetize users without disrupting
                                    their
                                    experience. Users can voluntarily share
                                    device
                                    data for public web collection, with no
                                    personal
                                    data collection, no permissions required,
                                    and
                                    full GDPR/CCPA compliance. The simple opt-in
                                    screen ensures transparency, while the SDK
                                    operates efficiently, having no impact on
                                    app
                                    performance.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="assets/images/icons/icon-bee.png"
                    class="sc-icon-bee" loading="lazy" alt>
                <img src="assets/images/icons/icon-mascot5.png"
                    class="sc-icon-mascot" loading="lazy" alt>
                <span class="sc-half-circle"></span>
            </div>
        </div>
    </div>
</section>