@use 'sass:math';
// px to rem logic
@function px-rem($px, $base: 16) {
    @return math.div($px, $base) * 1rem;
}

p {
    line-height: px-rem(28);
}

.about-us-ribbon {
    padding: px-rem(90) 0 px-rem(70);
    display: flex;
    flex-direction: column;
    gap: px-rem(40);

    .aur-tag {
        padding: px-rem(10) px-rem(20);
        border-radius: px-rem(30);
        background: #FDD94E;
        box-shadow: px-rem(3.5) px-rem(3.5) 0px 0px #220D4E;
        z-index: 1;
        color: #220D4E;
        font-size: px-rem(15);
        font-weight: 500;
        display: inline-block;

        &.green {
            background-color: #C6F15C;
        }

        &.orange {
            background-color: #FDB693;
        }

        &.blue {
            background-color: #AEC8FC;
        }

        &.pink {
            background-color: #EEA2FB;
        }
    }

    .aur-icon {
        width: px-rem(45);
        aspect-ratio: 1/1;
    }
}

.about-us {
    padding: px-rem(20) 0 px-rem(80);
}

.what-we-do {
    padding: px-rem(50) 0 px-rem(70);

    .heading {
        position: relative;
        display: inline-block;
        margin: auto;
        margin-bottom: px-rem(80); // 5rem = 80px

        .tag {
            position: absolute;
            top: px-rem(-32);
            left: px-rem(-130);
            transform: rotate(-14.45deg);
        }
    }

    .wwd-card {
        h3 {
            color: #101010;
            font-size: px-rem(25);
            margin-bottom: px-rem(20);
        }

        p {
            font-size: px-rem(16);
            margin-right: px-rem(40);
        }
    }

    .wwd-img {
        position: absolute;
        right: 0;
        top: px-rem(-80);
        width: px-rem(200);
    }
}

@media(max-width: 576px) {
    .about-us-ribbon {
        padding: px-rem(50) 0;
        gap: px-rem(20);

        .aur-tag {
            font-size: px-rem(14);
            padding: px-rem(10) px-rem(15);
        }
    }

    .about-us {
        padding: 0 0 px-rem(50);
    }

    .what-we-do {
        padding: px-rem(50) 0 px-rem(20);

        .heading {
            margin-bottom: px-rem(64); // 4rem = 64px

            .tag {
                left: px-rem(-70);
            }
        }

        .wwd-card {
            margin-bottom: px-rem(30);

            h3 {
                margin-bottom: px-rem(12);
            }

            p {
                margin: 0;
            }
        }
    }
}