<main>
    <section class="page-head">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-10 col-md-9">
                    <h1 class="heading">About Us
                        <span class="page-head-tag tag">Pocketsfull.ai</span>
                    </h1>
                    <p class="page-head-text">Welcome to PocketsFull.ai By
                        accessing or
                        using our platform, you
                        agree to be bound by these Terms of Service. If you do
                        not
                        accept these terms, please do not use our services.</p>
                    <img src="assets/images/page-head-blur.png"
                        class="page-head-blur"
                        alt>
                </div>
                <div
                    class="col-lg-2 col-md-3 d-flex justify-content-end align-items-end">
                    <span class="text-path">
                        <svg viewBox='0 0 200 200' width='130' height='130'
                            xmlns='http://www.w3.org/2000/svg' class="tp-svg">
                            <path id="link-circle"
                                d="M 20, 100 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0"
                                stroke="none" fill="none" />
                            <text class="tp-text">
                                <textpath href="#link-circle" stroke="none">
                                    Know Us Know Us Know Us Know Us Know Us Know
                                    Us Know
                                    Us
                                </textpath>
                            </text>
                        </svg>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26"
                                height="23" viewBox="0 0 26 23" fill="none">
                                <path
                                    d="M23.0436 8.15334C22.3909 8.88115 22.1351 10.6128 22.0447 12.1778C21.9247 14.1941 22.1218 16.224 22.7009 18.1576C23.1352 19.6073 23.7946 21.2165 24.7323 22.0575M24.7323 22.0575C23.7946 21.2165 22.1225 20.7344 20.6352 20.4607C18.6494 20.0955 16.6101 20.1196 14.6204 20.4554C13.0736 20.7158 11.378 21.1597 10.727 21.8856M24.7323 22.0575L1.19137 0.943311"
                                    stroke="#FFDA44" stroke-width="1.63497" />
                            </svg>
                        </span>
                    </span>
                </div>
            </div>

        </div>
    </section>
    <section class="about-us-ribbon">
        <om-marquee class="marquee"
            [reverse]="false"
            [animationDuration]="'20s'"
            [pauseOnHover]="true">
            <div #OmMarqueeContent>
                <span class="aur-tag">Last Updated: [Date]</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon.png"
                    class="aur-icon"
                    alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag green">Last Updated: [Date]</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon2.svg"
                    class="aur-icon"
                    alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag orange">Last Updated: [Date]</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon3.svg"
                    class="aur-icon"
                    alt>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon4.svg"
                    class="aur-icon"
                    alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag blue">Last Updated: [Date]</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon5.svg"
                    class="aur-icon"
                    alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag pink">Last Updated: [Date]</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon6.svg"
                    class="aur-icon"
                    alt>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon7.svg"
                    class="aur-icon"
                    alt>
            </div>
        </om-marquee>
        <om-marquee class="marquee"
            [reverse]="true"
            [animationDuration]="'20s'"
            [pauseOnHover]="true">
            <div #OmMarqueeContent>
                <span class="aur-tag">Last Updated: [Date]</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon.png"
                    class="aur-icon"
                    alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag green">Last Updated: [Date]</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon2.svg"
                    class="aur-icon"
                    alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag orange">Last Updated: [Date]</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon3.svg"
                    class="aur-icon"
                    alt>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon4.svg"
                    class="aur-icon"
                    alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag blue">Last Updated: [Date]</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon5.svg"
                    class="aur-icon"
                    alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag pink">Last Updated: [Date]</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon6.svg"
                    class="aur-icon"
                    alt>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon7.svg"
                    class="aur-icon"
                    alt>
            </div>
        </om-marquee>
    </section>

    <section class="about-us">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="heading">Who we are</h1>
                </div>
                <div class="col-md-8">
                    <p>Restaurant owners have faced a tricky ride in the last
                        few
                        years and one thing remains clear – eating out is as
                        popular
                        as ever. But new diets and category entry points change
                        quickly. Only the fittest survive. Restaurants can
                        quickly
                        go from fully booked to floundering flop. Restaurant
                        market
                        research will help you satisfy consumer appetites.</p>
                    <p>Restaurant owners have faced a tricky ride in the last
                        few
                        years and one thing remains clear – eating out is as
                        popular
                        as ever. But new diets and category entry points change
                        quickly.
                        Restaurant owners have faced a tricky ride in the last
                        few
                        years and one thing remains clear – eating out is as
                        popular
                        as ever.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="what-we-do">
        <div class="container-lg position-relative">
            <div class="text-center">
                <h1 class="heading text-center">What we do
                    <span class="tag">Actionable Data</span>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wwd-card">
                        <h3>Display Time & Value</h3>
                        <p>We’re a distributed team with a flagship HQ in Paris.
                            Work from here, or anywhere. We’re a distributed
                            team
                            with a flagship HQ in Paris. Work from here, or
                            anywhere.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wwd-card">
                        <h3>Display Time & Value</h3>
                        <p>We’re a distributed team with a flagship HQ in Paris.
                            Work from here, or anywhere. We’re a distributed
                            team
                            with a flagship HQ in Paris. Work from here, or
                            anywhere.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wwd-card">
                        <h3>Display Time & Value</h3>
                        <p>We’re a distributed team with a flagship HQ in Paris.
                            Work from here, or anywhere. We’re a distributed
                            team
                            with a flagship HQ in Paris. Work from here, or
                            anywhere.</p>
                    </div>
                </div>
            </div>
            <img src="assets/images/sp-shape.png"
                class="wwd-img" alt>
        </div>
    </section>


    <app-monetize-app/>

    <div class="py-5"></div>
</main>