<main>
    <section class="page-head">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-10 col-md-9">
                    <h1 class="heading">About Us
                        <span class="page-head-tag tag">Pocketsfull.ai</span>
                    </h1>
                    <p class="page-head-text">Pocketsfull.ai helps digital
                        platforms earn through seamless, survey-based
                        monetization.
                        Backed by Catalyse Research, we turn user engagement
                        into valuable insights.</p>
                    <img src="assets/images/page-head-blur.png"
                        class="page-head-blur"
                        loading="lazy" alt>
                </div>
                <div
                    class="col-lg-2 col-md-3 d-flex justify-content-end align-items-end">
                    <span class="text-path">
                        <svg viewBox="0 0 200 200" width="130" height="130"
                            xmlns="http://www.w3.org/2000/svg" class="tp-svg">
                            <path id="link-circle"
                                d="M 20, 100 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0"
                                stroke="none" fill="none" />
                            <text class="tp-text">
                                <textpath href="#link-circle" stroke="none">
                                    Know Us Know Us Know Us Know Us Know Us Know
                                    Us Know Us
                                </textpath>
                            </text>
                        </svg>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26"
                                height="23" viewBox="0 0 26 23" fill="none">
                                <path
                                    d="M23.0436 8.15334C22.3909 8.88115 22.1351 10.6128 22.0447 12.1778C21.9247 14.1941 22.1218 16.224 22.7009 18.1576C23.1352 19.6073 23.7946 21.2165 24.7323 22.0575M24.7323 22.0575C23.7946 21.2165 22.1225 20.7344 20.6352 20.4607C18.6494 20.0955 16.6101 20.1196 14.6204 20.4554C13.0736 20.7158 11.378 21.1597 10.727 21.8856M24.7323 22.0575L1.19137 0.943311"
                                    stroke="#FFDA44" stroke-width="1.63497" />
                            </svg>
                        </span>
                    </span>
                </div>
            </div>

        </div>
    </section>
    <section class="about-us-ribbon">
        <om-marquee class="marquee"
            [reverse]="false"
            [animationDuration]="'20s'"
            [pauseOnHover]="true">
            <div #OmMarqueeContent>
                <span class="aur-tag">Surveywall</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon.png"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag green">Offerwall</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon2.svg"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag orange">Bandwith SDK</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon3.svg"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon4.svg"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag blue">Website monetization</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon5.svg"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag pink">App monetization</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon6.svg"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon7.svg"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
        </om-marquee>
        <om-marquee class="marquee"
            [reverse]="true"
            [animationDuration]="'20s'"
            [pauseOnHover]="true">
            <div #OmMarqueeContent>
                <span class="aur-tag">Surveywall</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon.png"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag green">Offerwall</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon2.svg"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag orange">Bandwith SDK</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon3.svg"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon4.svg"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag blue">Website monetization</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon5.svg"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
            <div #OmMarqueeContent>
                <span class="aur-tag pink">App monetization</span>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon6.svg"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
            <div #OmMarqueeContent>
                <img src="assets/images/icons/aur-icon7.svg"
                    class="aur-icon"
                    loading="lazy" alt>
            </div>
        </om-marquee>
    </section>

    <section class="about-us">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="heading">Who we are</h1>
                </div>
                <div class="col-md-8">
                    <p>Pocketsfull.ai is a cutting-edge monetization platform
                        developed by Catalyse Research, a global leader in
                        market research and data-driven insights. With over a
                        decade of experience in conducting comprehensive market
                        research studies across diverse industries and
                        geographies, Catalyse Research brings unparalleled
                        expertise to the digital monetization landscape.</p>
                    <p>At Pocketsfull.ai, we bridge the gap between market
                        research and digital platforms by integrating
                        high-quality, targeted surveys into web and mobile
                        applications. Our platform empowers publishers and
                        developers to unlock new revenue streams by seamlessly
                        incorporating research opportunities that engage users
                        and provide valuable insights to brands.</p>
                    <p>Backed by Catalyse Research's robust infrastructure and
                        global reach, Pocketsfull.ai ensures that every survey
                        is meticulously crafted and delivered to the right
                        audience, enhancing user experience while generating
                        meaningful data. Our commitment to innovation, quality,
                        and ethical research practices positions us at the
                        forefront of the digital monetization ecosystem.</p>
                    <p>Join us in transforming the way digital platforms engage
                        with users and monetize content, all while contributing
                        to impactful market research that drives business
                        decisions worldwide.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="what-we-do">
        <div class="container-lg position-relative">
            <div class="text-center">
                <h1 class="heading text-center">What we do
                    <span class="tag">Actionable Data</span>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wwd-card">
                        <h3>Targeted Survey Integration</h3>
                        <p>We seamlessly embed high-quality, targeted surveys
                            into web and mobile applications, enabling
                            publishers to monetize without disrupting user
                            experience.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wwd-card">
                        <h3>Actionable Data Insights</h3>
                        <p>Our platform delivers real-time, actionable insights
                            by connecting engaged users with relevant
                            surveys—fueling smarter decisions for brands and
                            researchers.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wwd-card">
                        <h3>Global Reach, Local Impact</h3>
                        <p>Backed by Catalyse Research’s international
                            infrastructure, we ensure that every survey reaches
                            the right audience—enhancing value for users and
                            clients alike.</p>
                    </div>
                </div>
            </div>
            <img src="assets/images/sp-shape.png"
                class="wwd-img" loading="lazy" alt>
        </div>
    </section>

    <app-monetize-app />

    <div class="py-5"></div>
</main>