@import url(../../layouts/docs-layout/docs-layout.component.scss);

.accordion {
  position: relative;
  z-index: 7;

  .accordion-item {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(px-rem(5));
    border: 0;
    margin-bottom: px-rem(10);
    position: relative;
    border-radius: 15px;
    z-index: 0;

    .accordion-button {
      background-color: transparent;
      box-shadow: none;
      position: relative;
      padding: 15px;
      color: var(--color-text2);
      font-weight: 500;

      span {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .accordion-body {
      padding: 0 15px 15px;
      color: #616161;

      p {
        margin-bottom: 0;
      }

      ol {
        padding-left: 0;
      }

      li {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
  }
}
